[2017-08-22 06:50] Nucleardragon88 opened #1 "Dependencies for muk_web_preview_msoffice"
What I should install or what I can do for use the module muk_web_preview_msoffice with ODOO 10?

aptitude search unoconv
i   unoconv           installed                                                                          - converter between LibreOffice document formats

pip install pdfconv comtypes unoconv
Requirement already satisfied: pdfconv in /usr/local/lib/python2.7/dist-packages
Requi

[2017-08-25 14:37] keshrath commented on #1
fixed

[2017-08-26 11:43] Nucleardragon88 commented on #1
may be you can at least tell what is dependies of this module?

[2017-08-26 13:17] keshrath commented on #1
hi,

the error wasn't the result of a missing dependency. WindowsError doesn't exist on Linux but got thrown by the python library.

To awnser your question about the dependencies:

The module only has 3 python dependencies (see __manifest__.py)

- 'requests',
-  'cachetools',
-  'pdfconv'

pdfconv uses either cometypes or unoconv, which needs to be installed on the system to be executed on the co

[2017-08-26 14:12] Nucleardragon88 commented on #1
Already have all dependencies, but the module stil doesn't work.

pip install requests cachetools pdfconv
Requirement already satisfied: requests in /usr/local/lib/python2.7/dist-packages
Requirement already satisfied: cachetools in /usr/local/lib/python2.7/dist-packages
Requirement already satisfied: pdfconv in /usr/local/lib/python2.7/dist-packages

apt-get install -y unoconv
Reading package lis

[2017-08-26 14:35] Kerrim- commented on #1
Hey, can you please pull the project again and send the new odoo log. Because the WindowsError shouldn't be thrown anymore.

[2017-08-26 14:39] Nucleardragon88 commented on #1
Please:

2017-08-26 14:37:58,428 17323 INFO ? werkzeug: 10.*.*.12 - - [26/Aug/2017 14:37:58] "GET /muk_web_preview/static/lib/PDFjs/web/viewer.html?file=/web/preview/converter/msoffice?url=%2Fweb%2Fcontent%2F874%3Fdownload%3Dtrue HTTP/1.0" 200 -
2017-08-26 14:37:59,825 17323 INFO erp.*.com werkzeug: 10.*.*.12 - - [26/Aug/2017 14:37:59] "GET /web/preview/converter/msoffice?url=%2Fweb%2Fcontent%2F87

[2017-08-26 14:49] Kerrim- commented on #1
ok that shouldn't happen... is your pdfconv up to date? we just updated it yesterday...

[2017-08-26 14:50] Kerrim- commented on #1
https://github.com/keshrath/pdfconv

[2017-08-26 14:54] keshrath commented on #1
muk_web_preview_msoffice - version: 10.0.1.0.3
pdfconv - version: 1.0.10

[2017-08-26 15:52] Nucleardragon88 commented on #1
I have latest versions:

Technical Name | muk_web_preview_msoffice
-- | --
License | Affero GPL-3
Latest Version | 10.0.1.0.3

pip show pdfconv
Name: pdfconv
Version: 1.0.10
Summary: PDF Converter
Home-page: https://github.com/keshrath/pdfconv
Author: Mathias Markl
Author-email: mathias.markl@mukit.at
License: GPLv2
Location: /usr/local/lib/python2.7/dist-packages
Requires:

[2017-08-26 16:54] Kerrim- commented on #1
I'm sorry i just installed everything on a new machine to test it and didn't have any issues:

sudo apt-get install unoconv
git clone https://github.com/muk-it/muk_web.git
git clone https://github.com/keshrath/pdfconv.git
cd pdfconv/
sudo python setup.py install
sudo -H pip install cachetools

...
add muk_web modules to odoo
...
service odoo restart
...
install modules
...

and the module works fi

[2017-08-26 16:56] #1 closed, assigned to Kerrim-

[2017-08-26 18:20] Nucleardragon88 commented on #1
reinstall can not help, I don't know how you can use your module...

aptitude show unoconv
Package: unoconv
State: installed
Automatically installed: no
Version: 0.7-1.1
Priority: extra
Section: universe/text
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Architecture: all
Uncompressed Size: 332 k
Depends: python3, python3-uno (>= 4.0)
Recommends: libreoffice-writer, libreof

[2017-11-09 06:51] lfnothing opened #2 "inherit addons cannot applied to refresh view"
I want to use your muk_web_client and muk_web_client_refresh addons to refresh view when someone has an operation on one view.I try your addons and it work when the addons are original odoo addons like your example.When i try your addons on the addons that i inherit from original odoo addons,it can't work and it happens to the original odoo addons that applied to your rule also can't work even if

[2017-11-15 18:40] Kerrim- commented on #2
Hi, thanks for the info! We are going to look into it. Can you provide the name of a module that breaks the client refresh module? There are some views that don't work, for example in our muk_dms but they shouldn't break the refreshing of the other views...

[2017-12-13 23:58] satriani-vai opened #3 "ModuleNotFoundError: No module named 'models'"
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/werkzeug/serving.py", line 193, in run_wsgi
    execute(self.server.app)
  File "/usr/lib/python3.6/site-packages/werkzeug/serving.py", line 181, in execute
    application_iter = app(environ, start_response)
  File "/home/alex/Odoo/odoo_11/odoo/service/server.py", line 252, in app
    return self.app(e, s)
  File "/home/a

[2017-12-14 08:10] keshrath commented on #3
which app did you install?

[2017-12-14 09:04] satriani-vai commented on #3
Just all the apps inside the  MuK Documents here: https://apps.odoo.com/apps/modules/11.0/muk_dms/
This error occurs when muk_web_client_refresh is in the Addons folder.

[2017-12-14 09:37] keshrath commented on #3
inside the `__init__.py` change **`import models`** to **`from . import models`**

[2017-12-14 10:37] satriani-vai commented on #3
Thank you.
Same for muk_web_preview_attachment

[2017-12-16 03:14] #3 closed, assigned to nobody

[2017-12-19 10:31] #2 closed, assigned to nobody

[2018-01-06 00:26] satriani-vai opened #4 "[11.0] Can't preview MS Office document"
muk_web_preview_msoffice does not work for me
[code]

[2018-01-06 00:45] keshrath commented on #4
I can't really do much with this information. Please check if you have all dependencies installed (pdfconv, unoconv,...) and restart the server afterwards.

[2018-01-06 16:54] satriani-vai commented on #4
All dependencies are installed. This problem seems to have been around for some time. See [here](https://apps.odoo.com/apps/modules/10.0/muk_web_preview_msoffice/), below in the comments. I suspect that it can't access a local program. Maybe Adobe Acrobat Reader.

[2018-01-06 17:07] keshrath commented on #4
make sure odoo can use unoconv (try to use unoconv as the odoo user from command line)

[2018-01-06 17:29] satriani-vai commented on #4
unoconv does not work without LibreOffice?
My Odoo runs on a remote server without a desktop environment. I don't like to install a GUI program on my server. Do you have a suggestion for another option?

[2018-01-06 18:11] keshrath commented on #4
https://github.com/dagwieers/unoconv -> see (Using unoconv with no X display)

[2018-01-07 02:20] #4 closed, assigned to nobody

[2018-01-10 19:02] satriani-vai commented on #4
[code]

[2018-02-06 11:43] moblesmarti opened #6 "MuK Preview Attachment (Odoo 10)"
When you try to preview a file on slides, it does not recognize the file type and extension. In the rest of the applications of the program if the preview works.

![captura de pantalla 2018-02-06 a las 12 24 34](https://user-images.githubusercontent.com/12881456/35858014-2f5b6d14-0b3b-11e8-8fc4-0b7f33cffdb1.png)

[2018-03-03 10:38] keshrath commented on #6
What do you mean by slides? Can you please give me more information. Thx :)

[2018-03-03 15:50] moblesmarti commented on #6
![captura16 42 58](https://user-images.githubusercontent.com/12881456/36936236-ce7b8714-1f02-11e8-9649-ed740ad5aa9e.png)
---
When trying to preview the pdfs of the presentations. Thx!

[2018-03-04 18:55] keshrath commented on #6
Ok, but the slides are shown by Odoo itself. How do you open the PreviewDialog?

[2018-03-05 07:05] moblesmarti commented on #6
![captura8 00 21](https://user-images.githubusercontent.com/12881456/36961498-f584d578-204b-11e8-829e-09b59e1ac8fd.png)

[2018-03-05 09:54] keshrath commented on #6
Ok I see the problem. The data field has no filename attribute.

`<field name="datas" readonly="1"/>`

Without a filename the preview can't detect the extension or the mimetpye.

Set a filename and the preview should work.

[2018-03-05 09:54] #6 closed, assigned to nobody

[2018-04-03 16:23] Bryanzerool opened #7 "Error preview files Office"
When viewing a .doc file. docx error message appears
PDF.js v1.7.225 (build: 17d135f)
Message: Unexpected server response (415) while retrieving PDF "http://ip-server:8069/web/preview/converter/msoffice?url=%2Fweb%2Fcontent%3Fmodel%3Dmuk_dms.file%26filename%3DUna%2Bprueba%2Bmuy%2Bsencilla.dot%26filename_field%3Dname%26field%3Dcontent%26id%3D7%26download%3Dtrue".
![image](https://user-images.github

[2018-04-03 17:07] keshrath commented on #7
please check if your unoconv is working properly

[2018-04-09 10:58] jorsea commented on #7
![image](https://user-images.githubusercontent.com/9857984/38494299-ece77cfc-3c27-11e8-9fe7-57057df39a9f.png)
I have the same problem.

[2018-04-09 17:34] shurshilov opened #8 "error Installed on win10 Muk preview MS office"
![image](https://user-images.githubusercontent.com/11828278/38512950-6fb52d34-3c35-11e8-9a6a-82b95ab580c1.png)

[2018-04-09 17:43] shurshilov opened #9 "Effective proposals for the production of modules"
![mail](https://user-images.githubusercontent.com/11828278/38513344-a195de38-3c36-11e8-8336-02e300039ab7.png)
![many2manybinary](https://user-images.githubusercontent.com/11828278/38513345-a1bb2242-3c36-11e8-8f2f-5f9394871f72.png)

[2018-04-10 03:38] jorsea commented on #8
pip3 install cachetools

[2018-04-10 03:53] keshrath commented on #9
Thanks for the suggestion, I'll take a look at it, on occasion.

[2018-04-10 03:54] keshrath commented on #7
Does the conversion work with unoconv in the console?

[2018-04-10 05:16] jorsea commented on #7
I found a solution to the problem:
I use pip3 install pdfconv, but converter.py is not the latest version of the content,
open the following link: https://github.com/keshrath/pdfconv/blob/master/pdfconv/converter.py,
copy the content, and replace the converter.py that was installed before.
It's OK.

[2018-04-10 05:36] keshrath commented on #7
Thx for the info :) I will update the pip repository

[2018-04-10 09:58] shurshilov commented on #8
are you kidding? and here pip3 your module is not put out of the box on Windows, it means that users simply will not install it. And if you consider that pip3 is not there by default, then your advice is meaningless!

[2018-04-10 20:32] #7 closed, assigned to nobody

[2018-04-10 20:52] keshrath commented on #8
This module has dependencies as listed in the manifest file. If you do not want to install anything else you cannot use this module. cachetools and pdfconv can be installed via pip. For pdfconv to work you need either comtypes and a working Microsoft Office or unoconv and Libro Office.

You can also use the pip command under Windows if your system is configured correctly.

@Jorsea Thank you for tr

[2018-04-10 20:52] #8 closed, assigned to nobody

[2018-04-11 16:52] Bryanzerool commented on #7
@jorsea your solution did not work, but execute:
sudo apt-get install -y unoconv
service odoo restart
and problem solved, thank you very much for your help

[2018-05-09 20:47] wshamasneh opened #10 "Unable to update Muk Web Client Refresh"
The following error raise up after updating the muk_web_client_refresh from v.  11.0.1.0.4 to v. 11.0.2.1.0
Odoo 11
Windows 10 64x

Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\models.py", line 1036, in _validate_fields
    check(self)
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\addons\base\ir\ir_ui_view.py", line 330, i

[2018-05-09 21:00] keshrath commented on #10
Please make sure to update muk_web_client first.

[2018-05-09 21:14] wshamasneh commented on #10
Thank you. It has been resolved.

[2018-05-09 21:14] #10 closed, assigned to nobody

[2018-05-12 23:19] keshrath commented on #9
19e992ecdd85823d8db02decfdaabd6101a299f6

[2018-05-12 23:19] #9 closed, assigned to nobody

[2018-06-07 02:57] Iskander-NSK commented on #7
Hi!
I have a problem with preview docx files in ODOO v10. Error like in first post.
Installed:
- Ubuntu 14.04 LTS
- ODOO v10 with all the dependencies
- muk_dms 10.0.1.2.1
- muk_web_preview 10.0.1.0.3
- converter.py 1.0.0
- unoconv 0.6-6
Please help me.

[2018-06-08 03:01] BGEray opened #14 "Access error preview ms office"
Hi, when I view a .doc file or a .ppt file,an error occured and nothing showed up in preview dialog.By reading the source code, I found that using requets call the file url cause an access error, the '/web/content/' route can't sense my logged in user, it excute the function as Public user.My temporary solution is add the Public user to Group Document User,any better solution without security issu

[2018-06-08 03:13] BGEray opened #15 "undefined variable"
In muk_dms/models/dms_base.py, line 407:
<code>if not access and raise_exception:</code>
variable "access" is undefined and cause an error.

[2018-06-08 08:35] keshrath commented on #15
https://github.com/muk-it/muk_dms/commit/a152ce2924906001c6e83e19e813fe787aaf2df0

[2018-06-08 08:35] #15 closed, assigned to nobody

[2018-06-08 08:40] keshrath commented on #14
[code]

Relative urls are not actually resolved with requests but the route is searched directly in odoo and this then uses the same requests object, i.e. the current user.

[2018-06-10 15:34] #14 closed, assigned to nobody

[2018-06-13 10:39] satriani-vai opened #16 "The update of muk_web_preview fails"
Please take a look here https://github.com/muk-it/muk_web/commit/83b1edcdec226dd4ea46c073dbd0b446e194ebd5#r29346727

[2018-06-14 23:29] keshrath commented on #16
Have you restarted the server?

[2018-06-15 08:39] satriani-vai commented on #16
Strangely, after the second restart it worked.

[2018-06-15 08:39] #16 closed, assigned to nobody

[2018-06-18 12:56] manthan-doshi opened #17 "Uncaught Error: Couldn't find method 'preview' in widget"
![image](https://user-images.githubusercontent.com/40359068/41536684-eb7d0476-7323-11e8-9e59-8d41f2762558.png)

Current Behaviour:

I'm facing this error while clicking for preview on attachment. An attachment gets download automatically (doesn't preview) and then error above.

Expected Behaviour:

While clicking on preview, an attahcment should open to preview (like works fine in attachment kanba

[2018-06-18 21:37] keshrath commented on #17
Hello, please send me the log while you are in debug mode (?debug=assets). Unfortunately, I can't do much with the stack trace like this.

[2018-06-18 23:44] keshrath commented on #17
If you wrote the view yourself: What kind of widget do you use? How do you display the attachments?

[2018-06-21 06:58] manthan-doshi commented on #17
Hi,
Used field is many2many...and widget used is many2many_binary...
I'm using kanban view of attachment to display the attachements.

[2018-06-21 08:28] keshrath commented on #17
Odoo 10 does not support this widget yet. This only exists with 11.2.0.0.

--> https://github.com/muk-it/muk_web/commit/19e992ecdd85823d8db02decfdaabd6101a299f6#diff-c1ef929b46752f19faa03fdf0c2921b8

[2018-06-21 08:28] #17 closed, assigned to nobody

[2018-07-27 20:27] jayo2005 opened #18 "Web Refresh - Kanban view"
Odoo 10
Hello does Web refresh work with Kanban View? It works great with tree view but cant seem to get it to work in Kanban view.

[2018-07-28 07:59] keshrath commented on #18
This is strange, it should work for kanban,list and form view:

client_refresh.js
https://github.com/muk-it/muk_web/blob/10.0/muk_web_web_client_refresh/static/src/js/client_refresh.js#L39

kanban_view.js
https://github.com/odoo/odoo/blob/10.0/addons/web_kanban/static/src/js/kanban_view.js#L168

Are you getting any error in the log?

[2018-07-30 23:52] #18 closed, assigned to nobody

[2018-08-02 14:25] jayo2004 commented on #18
Hi it does work in Kanban View. The refresh stops working in all views after server is restarted or Odoo restarted. Sometimes I can delete the rule and add it back in and it will work. Most of the time I have to uninstall the module and reinstall and it works again until server or Odoo is restarted.

[2018-08-02 14:27] jayo2004 opened #19 "Web Refresh stops working"
Odoo 10
The web refresh stops working in all views after server is restarted or Odoo restarted. Sometimes I can delete the rule and add it back in and it will work. Most of the time I have to uninstall the module and reinstall and it works again until server or Odoo is restarted.

[2018-08-02 19:57] keshrath commented on #19
Do you get any kind of error log?

[2018-08-02 20:28] jayo2005 commented on #19
My logs are empty I will do a fresh install of odoo and test again.

[2018-08-06 03:29] xubiuit opened #20 "Cannot open .doc file in demo instance"
Hi Guys,

I've downloaded the module and install in my local machine but cannot review .doc file.
After that, I also tried in your instance but there was the same result.
![image](https://user-images.githubusercontent.com/5255048/43695522-654dddce-9963-11e8-851a-f1c21f11d33e.png)
I've print the log to review the extension name and this is the result when I opened a .doc file
![image](https://user-

[2018-08-06 08:07] keshrath commented on #20
Can you print out the extension of the file in the log? The error should not occur with a doc file. And can you check if unoconv can be executed correctly from the console.

[2018-08-06 10:03] xubiuit commented on #20
@keshrath:
You can check my 2 last images, I printed the extension (image 2) and the result (image 3)
Have no idea why .doc -> .wiz

[2018-08-06 20:26] keshrath commented on #20
I have difficulties to reproduce your bug and after a restart of the demo it seems to work there without problems.

Link: https://demo.mukit.at/web?#id=45&view_type=form&model=muk_dms.file

Have you tried a completely new file?

[2018-08-08 04:48] DatenSAS opened #21 "Preview MS Office Module Issues - Odoo 10"
I have installed this module in Odoo 10 and I get this issues:

- Excel files are OK in the preview
- Word and Power Point  files generate the following error:

PDF.js v1.7.225 (build: 17d135f)
Mensaje: Unexpected server response (415) while retrieving PDF "http://34.220.243.124:8069/web/preview/converter/msoffice?url=http%3A%2F%2F34.220.243.124%3A8069%2Fweb%2Fcontent%3Fmodel%3Dmuk_dms.file%26file

[2018-08-08 08:18] Kerrim- commented on #21
Hi,

Regarding the docx problem: these warnings can be ignored.
Regarding pptx: can you try a different file because this sounds like the file is broken.

But i think the problem is that odoo doesnt have permission to write the file to disk with unoconv.

Can you try something like:
sudo -u odoo unoconv ...
And tell me what the output is?

[2018-08-09 01:30] DatenSAS commented on #21
Hi Kerrim,

You were right about pptx file, I tried with another document and unoconv works fine.

With sudo -u odoo unoconv <filename> I have this output:

Failed to connect to /usr/lib/libreoffice/program/soffice.bin (pid=2336) in 6 seconds.
Connector : couldn't connect to socket (Success)
Error: Unable to connect or start own listener. Aborting.

How can I fix that?

Thanks

[2018-08-10 08:46] Kerrim- commented on #21
Hi,

a possible explanation for this is that soffice needs more than 6 seconds to start (or at least it sounds that way). Can you try changing the unoconv timeout. If this works you will need to find out how to persist this setting.

sudo -u odoo --timeout=30 unoconv ...

[2018-08-10 11:53] keshrath commented on #21
Maybe you will find some insights directly on unoconv site: https://github.com/dagwieers/unoconv/issues

[2018-08-11 04:03] DatenSAS commented on #21
@Kerrim, with sudo -u odoo unoconv -T 30 file123.docx,  I had the same error:

Failed to connect to /usr/lib/libreoffice/program/soffice.bin (pid=2764) in 30 seconds.
Connector : couldn't connect to socket (Success)
Error: Unable to connect or start own listener. Aborting.

@keshrath, I'm still searching in the issues, no luck so far ...

[2018-08-14 04:09] jorsea opened #22 "ResizeObserver loop limit exceeded"
ResizeObserver loop limit exceeded
![image](https://user-images.githubusercontent.com/9857984/44071277-ce937cc8-9fba-11e8-8e98-e3574410261a.png)

[2018-08-14 07:33] keshrath commented on #22
Hi, can you give me more information. Which app is it and which version of Odoo is used? Please send me also the Odoo log and the browser log (with debug mode assets)

[2018-08-16 07:56] keshrath commented on #20
Closed since no further information has been provided.

[2018-08-16 07:56] #20 closed, assigned to nobody

[2018-08-21 07:48] keshrath commented on #22
Closed since no further information has been provided.

[2018-08-21 07:48] #22 closed, assigned to nobody

[2018-09-11 00:46] #19 closed, assigned to nobody

[2018-09-13 06:30] jorsea commented on #22
Odoo10.0
Chrome 69

I find:
https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-exceeded

[2018-09-13 06:34] jorsea opened #23 "Preview mp4 video Error:ResizeObserver loop limit exceeded"
![image](https://user-images.githubusercontent.com/9857984/45471003-46f5ec00-b762-11e8-9551-3c2da8c7440d.png)

Odoo10.0
Chrome 69

Only Chrome has problems, and no other browser preview.

I find:
https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-exceeded

[2018-09-13 22:34] jjlopezg opened #24 "Support view STL and IGES"
Support view STL and IGES

[2018-09-14 03:42] rdavrin opened #25 "MS-Office DOC and DOCX preview gives an error in Odoo11"
Hi,

I am facing an issue at the moment, where I am unable to generate a DOC and a DOCX preview after installing and using MuK Preview MS Office package. All other common file extensions such as XLS, XLSX, PDF, ODS and ODT all work fine. The issue only arises with DOC and DOCX files.

I have successfully converted DOC and DOCX files at the command line as follows:

unoconv -f pdf astrid.docx

My i

[2018-09-16 11:13] keshrath commented on #24
STL files are on the Roadmap

[2018-09-16 11:13] #24 closed, assigned to nobody

[2018-09-16 11:17] keshrath commented on #23
I am not able to reproduce your error message.  Not even with the corresponding Chrome version.

[2018-09-16 11:22] keshrath commented on #25
I suspect the error lies here (1).  Do you use your own SSL certificate?  Are you sure you have the latest version of MuK Utils?

(1) /usr/lib/python3/dist-packages/odoo/addons/muk_utils/tools/http.py

[2018-09-16 11:23] keshrath commented on #21
Could you resolve your issue?

[2018-09-16 11:33] rdavrin commented on #25
Hi, thanks for your prompt reply.

In regards to SSL, the site uses a proper SSL Certificate from a Certificate Authority

And for the version of MuK utils, I downloaded those from the Odoo Apps download website. Please advise if this is the latest version that I should be using

Kind regards

Richard

[2018-09-16 14:37] keshrath commented on #25
The store is the right place, but you might have an older version

[2018-09-16 14:38] keshrath commented on #25
https://github.com/muk-it/muk_base/tree/11.0/muk_utils

[2018-09-17 02:08] rdavrin commented on #25
I did a:

$ git clone https://github.com/muk-it/muk_base.git

And copied muk_base/muk_utils to the addons directory and then Updated Odoo modules and re-installed the required MUK util app. I got exactly the same error

---
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 515, in response_wrap
    response = f(*args, **kw)
  File "/usr/lib/python3/dist-packages/odoo/addons/muk_web_previe

[2018-09-17 09:54] buzzy3 commented on #25
Hi,

can you try some things and tell me what happens?

1. In the command line in a dms folder try the following with a docx (to see if its a permission problem from the odoo user):
`sudo -u odoo unoconv -f pdf filename.docx`
2. Then start python3 as odoo user:
`sudo -u odoo python3`
Then type:
`import pdfconv as p`
`p.converter.convert_document2pdf("/path/to/input.docx", "/path/to/output.pdf")`

[2018-09-17 09:59] Kerrim- commented on #25
Hi,

can you try some things and tell me what happens?

1. In the command line in a dms folder try the following with a docx (to see if its a permission problem from the odoo user):
    `sudo -u odoo unoconv -f pdf filename.docx`
2. Then start python3 as odoo user:
    `sudo -u odoo python3`
    Then type:
    `import pdfconv as p`
    `p.converter.convert_document2pdf("/path/to/input.docx", "/pat

[2018-09-18 07:28] rdavrin commented on #25
Hi team

It is the SSL issue. I disabled SSL on the environment completely and it can preview DOC and DOCX documents now

Funny thing is that my Odoo installation is non-encrypted and I have an Apache Web Server that sits in front of it and does a reverse proxy to the Odoo installation non-encrypted

The SSL termination is at the Apache Server. Should that pose an issue

Please advise guys... Than

[2018-09-19 07:37] rdavrin commented on #25
Hi team

Wanted to check with you, is there any solutions available that would allow the site to use SSL in the setup that I have described above, ie non-encrypted Odoo with SSL terminating at Apache

Please advise

[2018-09-19 08:10] keshrath commented on #25
[code]

[2018-09-19 08:14] keshrath commented on #25
The reason for this that I resolve a relativ URL by building a new session and calling it. This produces an outside call through Apache. I will rework the method since this makes not a lot of sense.

[2018-09-19 08:15] keshrath commented on #25
Till then you can try to set the SSL certificate via the `muk_custom_certificate` config parameter.

[2018-09-21 01:39] rdavrin commented on #25
Thanks for you insight and the code above.. I have enhanced http.py with the above code and got the following warning:

2018-09-21 01:15:36,424 17266 WARNING eventdevdb py.warnings: /usr/lib/python3/dist-packages/urllib3/connectionpool.py:854: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised

I have enhanced the code with the follo

[2018-09-21 06:18] keshrath commented on #25
https://github.com/muk-it/muk_base/blob/11.0/muk_converter/models/converter.py

Can you print out the content and send me the log.

[2018-09-21 06:24] rdavrin commented on #25
Here is converter.py on the system:

import hashlib
import logging

from odoo import api, models, fields
from odoo.addons.muk_converter.tools import converter

_logger = logging.getLogger(__name__)
class Converter(models.AbstractModel):
    _name = 'muk_converter.converter'
    _description = 'Converter'

    @api.model
    def convert(self, filename, content, format="pdf", recompute=False):

[2018-09-21 06:37] keshrath commented on #25
checksum = hashlib.sha1(content).hexdigest()

This line causes the error. So can you do something like:
_logger.info(content)

Before the line which causes the error.

[2018-09-21 06:55] rdavrin commented on #25
Added the logger line and there is one additional line in the logs, which i have highlighted. The rest is the same

2018-09-21 06:45:21,856 28375 INFO eventdevdb odoo.addons.muk_utils.tools.http: Using Certificate: False
2018-09-21 06:45:21,867 28375 INFO eventdevdb werkzeug: 10.0.0.11 - - [21/Sep/2018 06:45:21] "GET /web/content?model=muk_dms.file&filename=TestDocx.docx&filename_field=name&field=

[2018-09-21 11:46] keshrath commented on #25
Hm ok, I have to say i don't know why the content contains Ok as his value. I will test this out myself and get back to you if i can reproduce your error. But this will take a week or so, cause I'm out of office at the moment

[2018-09-21 12:01] rdavrin commented on #25
Thanks for this. In the meantime, I'll attempt to re-install the Muk MSOffice Preview modules on a clean Odoo 11 build with Apache and SSL at the font end. What would be the git commands that I should use to grab everything to install the MS-Office Preview from your perspective

[2018-09-21 12:14] keshrath commented on #25
https://mukit.at/en_US/page/open-source

[2018-09-21 12:14] keshrath commented on #25
You can give pip a try or just grab base and web

[2018-09-21 15:16] DatenSAS commented on #21
Hi Mathias,

Not really. Actually I'm going to try a new Odoo installation from scratch
to see what happen

2018-09-16 6:23 GMT-05:00 Mathias Markl <notifications@github.com>:

--
Carlos Alberto Villarreal C.
Director de Proyectos
DATEN S.A.S.
Calle 12 # 74 - 06, Cali - Colombia
Celular:+ 57 3127575669

[2018-09-24 01:54] rdavrin commented on #25
Team

I have had a success with pre-viewing DOC and DOCX files. What I did was to follow the install instructions in the link INSTEAD of installing the MUK modules from the Odoo App store

Here are the instructions that I followed on Ubuntu 17 running Odoo11

Install Odoo as per your usual install process, then:

 apt-get install python3-pip
 sudo -H pip3 install odoo-autodiscover
 sudo -H pip3 in

[2018-09-24 02:02] keshrath commented on #25
Nice :) Thanks for sharing^^

[2018-09-24 02:02] #25 closed, assigned to nobody

[2018-10-05 09:14] GSLabIt opened #26 "Failed to load resource: the server responded with a status of 431 (Line too long)"
Hi there, getting error when previewing PDF in different files inside PDFjs folder on odoo v 11.0:

- installed latest version of `muk_web_preview` and `muk_web_utils`:

Errors:

<img width="1257" alt="schermata 2018-10-05 alle 11 11 54" src="https://user-images.githubusercontent.com/11652845/46526767-83af9180-c88f-11e8-8156-44b66c5d0a3e.png">

pop up showing:

<img width="1019" alt="schermata 201

[2018-10-22 08:24] jorsea commented on #21
Fix    /muk_web_preview_msoffice/controllers/main.py
![image](https://user-images.githubusercontent.com/9857984/47283648-bdfe8a00-d616-11e8-9806-1fd377236808.png)

it's work.

[2018-10-28 08:43] #23 closed, assigned to nobody

[2018-11-14 07:43] FullBringEc opened #27 "muk_web_preview No way to make it work on v8 8.0"
Hi, I have all installed, but i cant get the button to see a preview, I have created a binary field with binary widget but nothing is showing, please just some guide.

[2018-11-16 06:59] minardo commented on #21
hi @jorsea thank for your solution, it's work for me in .doc and .docx format, but the error is in the .pptx format.

[2018-11-29 08:47] drewes opened #29 "Error trying to save brand colour settings"
I notice the following error in the logs when trying to modify the brand colours on the General Settings page:

`addons/muk_web_theme/models/res_config_settings.py", line 114, in <lambda>
    ).filtered(lambda v: v.arch.find(url) >= 0)
NameError: name 'url' is not defined`

Any advice?

[2018-11-29 09:24] keshrath commented on #29
It's odd that the error doesn't occur with me, but this should fix the problem: https://github.com/muk-it/muk_web/commit/a3b76366c215e4af64fcd36d59b2b7e7c3b41973

[2018-11-29 10:25] drewes commented on #29
Thanks @keshrath. I updated the variable on line 129 as well to get it to work.

Thanks for the module. Great work.

[2018-11-29 10:30] #29 closed, assigned to nobody

[2018-11-30 13:14] grzekru opened #30 "[12.0][muk_web_theme] Unsubscribe btn and bell icon overlays"
Probably depends on language
![image](https://user-images.githubusercontent.com/5862658/49291328-3b38dc80-f4aa-11e8-9e47-a814bcc13e1c.png)

[2018-12-04 03:55] qvinh222 opened #31 "[muk_web_theme]: kanban load error (task, pipeline)"
on mobile:
when clear filter (my tasks, my pipeline) on kanban view of task, pipeline, the kanban don't display. It show: 'load more... (8 remaining)'

[2018-12-04 04:00] #31 closed, assigned to nobody

[2018-12-06 01:51] qvinh222 opened #32 "[muk_web_theme - v12] notebook error on new popup dialog"

[2018-12-06 01:53] qvinh222 commented on #32
the picture here: https://imgur.com/a/3CiAZUI
When create new task or new project in new popup dialog, the notebook (page title) is hiden.
I used chrome browser.

[2018-12-07 13:24] keshrath commented on #32
https://github.com/muk-it/muk_web/commit/b9e78f58ed3528f036e224581df39461152eae37

Can you please check if this commit fixes your bug?

[2018-12-08 08:59] qvinh222 commented on #32
Thank you @keshrath. It fixed the problem.

[2018-12-08 08:59] #32 closed, assigned to keshrath

[2018-12-10 09:17] moblesmarti opened #33 "[12.0][muk_web_theme] Channels followers scroll not working"
Channels followers scroll not working. Tested in Firefox.
![captura de pantalla 2018-12-09 a las 17 35 18](https://user-images.githubusercontent.com/12881456/49722315-c6616180-fc64-11e8-965e-9b8f021cf256.png)

[2018-12-10 09:25] moblesmarti opened #34 "[12.0][muk_web_theme] Sidebar Type: unseen"
Theme Preferences, Sidebar Type: unseen
When you narrow the size of the screen, the side menu appears.
![captura de pantalla 2018-12-10 a las 8 14 45](https://user-images.githubusercontent.com/12881456/49722877-f9582500-fc65-11e8-97fb-fd087e7c4095.png)

[2018-12-10 09:51] keshrath commented on #30
Which language and screen size do you use?

[2018-12-10 09:55] keshrath commented on #33
Can you make a video or give me more information can not reproduce the error on my system.

[2018-12-10 10:11] keshrath commented on #34
The next version should fix this bug. Expected to be uploaded in a few hours.

[2018-12-10 11:01] moblesmarti commented on #34
Perfect, excellent work with this theme! Congratulations.

[2018-12-10 11:01] #34 closed, assigned to nobody

[2018-12-10 12:18] moblesmarti commented on #33
I've passed you a video by e-mail. I'm sorry I do not know how to share it on Github.

[2018-12-10 12:25] keshrath commented on #30
That doesn't look like a bug in the theme to me but in Odoo itself. At least I could reproduce this bug in Odoo without a theme and even Odoo EE. If this is not the case, please send me more information.

[2018-12-10 13:06] grzekru commented on #30
Yes it seams this is Odoo bug. I will open issue there.
Polish, 1920x1080

[2018-12-10 13:06] #30 closed, assigned to nobody

[2018-12-10 13:13] keshrath commented on #33
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/4851083/49734819-cf165f80-fc85-11e8-82a6-5f092fb2c7b2.gif)

[2018-12-10 13:30] keshrath commented on #27
Without detailed information i can't say much about it. Probably you have a javascript error that appears in your browser. In order to read javascript errors you have to be in debug mode with more active assets.

[2018-12-10 13:30] #27 closed, assigned to nobody

[2018-12-10 13:31] keshrath commented on #26
At first glance this looks like a problem with your web server and not with the app.

[2018-12-10 13:31] #26 closed, assigned to nobody

[2018-12-12 16:08] grzekru opened #36 "[12.0][muk_web_theme] Non administrator user unable to change 'Sidebar Type'"
[12.0][muk_web_theme] Non administrator user unable to change 'Sidebar Type'

![image](https://user-images.githubusercontent.com/5862658/49882277-8f3fab80-fe30-11e8-8db7-bd69144e40ad.png)

[2018-12-12 16:14] grzekru opened #37 "[12.0][muk_web_theme] Error on non-administrative user when no modules are installed"
[12.0][muk_web_theme] Error on non-administrative user when no modules are installed

1. Create new database
2. Install muk_web_theme
3. Create normal user, no administration permissions
4. Log in on new user
5. Error

![image](https://user-images.githubusercontent.com/5862658/49882586-3a506500-fe31-11e8-8591-5ae482b38cf2.png)

[2018-12-12 16:21] keshrath commented on #36
1cd6b2c488f2e7fc72b24f55e508cf140e44e150

Can you confirm that this fixes your problem?

[2018-12-12 16:25] keshrath commented on #37
I took the same steps, but I couldn't reproduce your error.

[2018-12-12 22:30] grzekru commented on #36
Yes, It fixes the issue.
Thank You!

[2018-12-12 22:34] grzekru commented on #37
Video of the issue using newest version of odoo and theme module
https://www.youtube.com/watch?v=wi0MhU3-24M&feature=youtu.be

[2018-12-12 23:24] #36 closed, assigned to nobody

[2018-12-12 23:39] keshrath commented on #37
With your video I was able to reproduce the error. But in both cases with and without theme. So it seems to be an Odoo problem. Can you confirm that?

[2018-12-13 00:13] keshrath commented on #33
Unfortunately it is not possible for me to reproduce this error. I never see a scrollbar even in Firefox.

[2018-12-13 07:51] moblesmarti commented on #33
We get the scrollbar depending on the size you have the browser screen.
Ah! I use firefox in Mac. In Chrome the scrollbar it works.
It is a mistake without inportance I have only reported it to try to help.

[2018-12-13 07:55] #33 closed, assigned to nobody

[2018-12-13 10:08] grzekru commented on #37
Yes, I can confirm, this is Odoo issue.
I will report this issue to odoo.

[2018-12-13 10:08] #37 closed, assigned to nobody

[2018-12-14 15:48] yassineselmi opened #38 "[muk_web_theme#12.0] Undefined variable: "$o-theme-font-number" on Login Page"
Hello,

I have just integrated the muk_web_theme module v12.0 whithin my Odoo 12 app. It looks so great! However, I got this error on the login page (your_domain:8069/web/login/):

`The style compilation failed, see the error below. Your recent actions may be the cause, please try reverting the changes you made.

Error: Undefined variable: "$o-theme-font-number".
        on line 2534 of /stdin

[2018-12-15 00:09] keshrath commented on #38
$o-theme-font-number is a variable from the website module, but I can't confirm this issue either with or without the website module installed. Can you check if its not an Odoo issue and that you have the newest version of the Theme and Odoo.

Which steps do I have to take to reproduce this issue?

[2018-12-16 13:47] #38 closed, assigned to nobody

[2018-12-16 22:59] qvinh222 opened #39 "[v12] [muk_web_client_notification] notification not showup"
I installed the module then I click "notify users" on general setting, but nothing show up.I console.log on function show_application on js file but nothing log on console of browser. It seems that this function is not called.

[2018-12-17 00:53] qvinh222 commented on #39
After I restart my computer. The problem fixed.

[2018-12-17 00:53] #39 closed, assigned to nobody

[2018-12-17 05:19] anhvu-sg opened #40 "[12.0][MuK Backend Theme] Error Undefined varialble: "$mk-brand-gradient-start""
Hello team,

Can you please help me with this issue?

# Step to reproduce
- Create a new database
- install `muk_web_theme`
- backup DB without filestore (or pg_dump)
- restore the new database

![image](https://user-images.githubusercontent.com/7898318/50067761-1f953c00-01f5-11e9-9cab-b29c9f4cd301.png)

![image](https://user-images.githubusercontent.com/7898318/50067769-2623b380-01f5-11e9-9860-31

[2018-12-17 09:28] keshrath commented on #40
That's not a bug at all. The theme creates its own file to make the colors customizable. So a backup without files can't be complete at all.

[2018-12-17 09:28] #40 closed, assigned to nobody

[2018-12-17 11:56] anhvu-sg commented on #40
Currently, my DB is very big and I don't think I will back up the filestore but It's not a big deal for the moment, I found the solution by executing SQL to reset. I also put the SQL here in case someone needs:

[code]

Thanks for your help @keshrath :-)

[2018-12-18 15:38] Yakulu opened #41 "[12.0]MUK Web utils : impossible change background in CMS"
Good afternoon,

It seems that the addon `muk_web_utils` causes bad feature on CMS web editor. When installed (and it's auto installed), you can not change element background color, it always come back to white. If you uninstall the addon manually, you can change background (as you can with stock Odoo 12 CE).

No error in frontend log sadly, maybe related to the custom snippet added in web utils ?

[2018-12-18 16:41] keshrath commented on #41
Can you please send me steps and screenshots zu reproduce.

[2018-12-18 17:11] Yakulu commented on #41
Of course :

1. Install fresh database and only `website` addon ;
2. Choose either Bootswatch or default theme ;
3. Go to homepage, click `Edit` ;
4. Add a block ;
5. Click a container, then `CUSTOMIZE` ;
6. Pick a background color, click on it ;
7. It should come back to transparent background.

Video attached below
![muk_web_utils_issue_41](https://user-images.githubusercontent.com/364212/501704

[2018-12-18 20:04] keshrath commented on #41
Can you give it a try (moved it to a new app to separate client and editor):
-> https://github.com/muk-it/muk_web/commit/12339edf175decac3545cfd13d1a6a2c4cc08632
-> https://github.com/muk-it/muk_web/commit/f61a4e956e84bf96e9dc56773de81403af50e3c1

[2018-12-18 21:18] Yakulu commented on #41
@keshrath thanks ! I confirm that issue had been fixed, with AND without new `muk_web_editor_utils` instaled.

[2018-12-18 21:18] #41 closed, assigned to nobody

[2018-12-19 12:22] grzekru opened #42 "[12][muk_web_theme] Font do not support Polish characters"
![image](https://user-images.githubusercontent.com/5862658/50219889-e5f93800-0390-11e9-8ebc-9e9816be5a7d.png)

characters: ąężźłóńćśĄĘŻŁÓŃĆŚ

[2018-12-24 09:23] Yakulu opened #43 "MUK Web Theme : broken SCSS compilation"
Good morning,

It seems that recent commits (maybe 1470c46 ?) leads to broken `web_theme` installation. I've made a video with fresh database to show what happen. We got the following error after install, on browser refresh :

[code]

Video is here :

![muk_web_theme_issue_2018-12-24](https://user-images.githubusercontent.com/364212/50395628-938b9300-0765-11e9-97b7-0948e4faf2cc.gif)

[2018-12-24 09:50] keshrath commented on #43
https://github.com/muk-it/muk_web/commit/d43e61f2627e8cd4d45dd7fae4ba8a910bfe8e00

[2018-12-24 10:11] Yakulu commented on #43
THanks @keshrath , it seems to fix the issue.

[2018-12-24 10:11] #43 closed, assigned to nobody

[2019-01-02 23:12] Albatros79 opened #44 "Error: QWeb2: Template 'muk_web_theme.AppsBarMenu' not found"
i got below error
`Error:
Uncaught Error: QWeb2: Template 'muk_web_theme.AppsBarMenu' not found

http://5.189.188.208:8069/web/content/951-a28171c/web.assets_common.js:3374
Traceback:
Error: QWeb2: Template 'muk_web_theme.AppsBarMenu' not found
    at Object.exception (http://5.189.188.208:8069/web/content/951-a28171c/web.assets_common.js:3374:7)
    at Engine._render (http://5.189.188.208:8069/we

[2019-01-03 02:30] keshrath commented on #44
Have you tried restarting the server and refreshing the browser?

[2019-01-03 02:32] keshrath commented on #42
The theme uses Roboto as font (actually like Odoo EE) what exactly doesn't work?

Font: https://fonts.google.com/specimen/Roboto

[2019-01-03 05:49] Albatros79 commented on #44
yes i did and nothing happened
i also tried to use another browser to see it is cache problem. but same screen appeared

[2019-01-03 05:52] Albatros79 commented on #44
i did create another database and login to it
now just tried again the one which muk theme installed and now it works
i dont know how ,
thanks anyway

[2019-01-03 05:52] #44 closed, assigned to nobody

[2019-01-03 08:17] grzekru commented on #42
Polish characters are displayed incorrectly, they are smaller then other characters.
This works correctly with the default odoo theme.
Example:
![image](https://user-images.githubusercontent.com/5862658/50628421-5333ce00-0f38-11e9-8832-b63f77953767.png)

You can copy characters from first message to test.

[2019-01-03 15:26] matalaniz opened #45 "Could not install v12"
I could not install the module. I install the folder in addons but in odoo it does not appear to install after updating the applications.

![tempsnip](https://user-images.githubusercontent.com/1443042/50645559-9ac75380-0f52-11e9-80f6-469bb323e7f3.png)

I have to install the other 2 folders for the theme? (muk_web & muk_base)

[2019-01-03 15:32] keshrath commented on #45
[muk_web_theme-12.0.1.2.1.zip](https://github.com/muk-it/muk_web/files/2724307/muk_web_theme-12.0.1.2.1.zip)

[2019-01-03 15:32] #45 closed, assigned to nobody

[2019-01-03 16:10] matalaniz commented on #45
![captura](https://user-images.githubusercontent.com/1443042/50648069-fdbbe900-0f58-11e9-8e2f-69c7ebdb8020.PNG)

[2019-01-03 16:28] keshrath commented on #45
https://github.com/muk-it/muk_web/issues/44

[2019-01-03 16:29] matalaniz commented on #45
Solved restarting server, thanks

[2019-01-07 11:13] gregory-moka opened #46 "[12.0] Backend error > Compilation failed"
Hello,
I've got an issue on Odoo community 12.0

[code]

[2019-01-07 13:35] keshrath commented on #46
Looks to me like one of the modules is not up to date.

[2019-01-08 07:55] gregory-moka commented on #46
Yes, backend theme. But I had to uninstall/install it to make it work again.
Problem solved

[2019-01-08 07:55] #46 closed, assigned to nobody

[2019-01-12 14:56] moblesmarti opened #47 "[12][muk_web_theme] this.$menu_apps_sidebar.renderScrollBar is not a function"
Hi, we have made the update of muk_web_theme to 12.0.1.2.3 and we find the following error:
Error:
Uncaught TypeError: this.$menu_apps_sidebar.renderScrollBar is not a function

http://XXX:8069/web/content/3461-6ce9de9/web.assets_backend.js:3526
Rastreo de error:
TypeError: this.$menu_apps_sidebar.renderScrollBar is not a function
    at Class.start (http://XXX:8069/web/content/3461-6ce9de9/web.as

[2019-01-12 14:58] keshrath commented on #47
Please make sure that your dependencies (MuK Utils & Muk Web Utils) are also up to date.

[2019-01-12 15:16] moblesmarti commented on #47
After updating the directory muk_web the module muk_web_utils has stayed like this:
![captura de pantalla 2019-01-12 a las 16 07 40](https://user-images.githubusercontent.com/12881456/51074939-67d53c00-1685-11e9-900f-78fb6f083097.png)

[2019-01-12 15:17] keshrath commented on #47
https://github.com/muk-it/muk_web/blob/12.0/muk_web_utils/__manifest__.py

[2019-01-12 15:25] moblesmarti commented on #47
Yes, it is exactly the same as we have in our installation

[2019-01-12 15:29] keshrath commented on #47
Then it should be the right version. Maybe you need to regenerate the assets or you have a cache problem.

https://github.com/muk-it/muk_web/blob/12.0/muk_web_utils/static/src/js/libs/scrollbar.js

[2019-01-12 15:44] moblesmarti commented on #47
Sorry! item solved. The owner of the file was not correct.
Thank you very much for your excellent work.

[2019-01-12 15:44] #47 closed, assigned to nobody

[2019-01-16 16:05] keshrath commented on #42
https://github.com/muk-it/muk_web/pull/48

[2019-01-16 16:05] #42 closed, assigned to nobody

[2019-01-17 11:23] DesarrolloWIL opened #49 "Preview MSOffice - Odoo 11: "Missing PDF" (415 error code, all dependences satisfied, manual conversion works)"
Hello developers!

I have not been able to correctly operate the Preview MSOffice module for doc/docx or ptt/pttx files in any Odoo 11 installation (all in Debian 9 stretch, both native installation and through Docker). I use the latest version of the module.

When I try to preview a document with those extensions, I see an error in the previewer, indicating the version of PDF.js and "Missing PDF"

[2019-01-18 09:03] grzekru opened #50 "[12][muk_web_theme] Error when trying to uninstall module"
Using newest version of odoo12, muk_base and muk_web
[code]

[2019-01-18 09:26] #50 closed, assigned to nobody

[2019-01-21 10:14] bennals opened #52 "[11.0 CE] image preview blank in attachment"
I have muk_preview, muk_preview_image and muk_preview_attachments installed without errors.  Previewing a pdf or odt file from the attachment drop down works perfectly, but previewing a .jpg or .png results in a blank (white) preview screen.  The image file can be downloaded from the download button in the viewer correctly, just no preview.

Tested on latest Firefox, Chrome, Brave (and Safari) all

[2019-01-21 10:16] bennals commented on #52
..oh, all on a pretty fresh ubuntu 16.04 install (two weeks ago on Amazon EC2) pulled from github.

[2019-01-21 17:04] DesarrolloWIL commented on #49
Problem solved: URL changed with SSL certificate (https, not http). Changed value in Odoo parameters. All works like a charm.

Thanks also.

[2019-01-21 17:04] #49 closed, assigned to nobody

[2019-01-22 12:14] bennals commented on #52
Apologies, I realise know that I had a mix of modules and dependencies from different versions.  I'll go back and try again.

[2019-01-22 12:14] #52 closed, assigned to nobody

[2019-01-23 03:07] sandovalg opened #53 "No navigation after Muk Backend Theme install Odoo 12"
Running into an issue where no backend exists and all backend modules report the same error.

`Error:
Uncaught TypeError: Cannot read property 'text' of undefined

http://server/web/content/1084-f19c043/web.assets_backend.js:851
Traceback:
TypeError: Cannot read property 'text' of undefined
    at Class._updateMenuBrand [as _super] (http://server/web/content/1084-f19c043/web.assets_backend.js:851:

[2019-01-23 08:09] keshrath commented on #53
I can't reproduce this error. make sure all dependencies are current. JS error logs only make sense with assets debug mode otherwise I can't determine where the error occurs.

[2019-01-31 15:47] gregory-moka opened #54 "[12.0] Unistalling Branding apps"
I'm trying to unistall MuK Branding & Muk Web Branding, and I've got this issue :

[code]

[2019-01-31 15:54] gregory-moka opened #55 "[12.0] Website customize + multisite"
I've got an issue in this case :

- Muk branding app installed
- Muk web branding app installed
- Multi company set

=> When I try to set new color to the default theme, I can select a color with the color picker, but, after validating, nothing happens.
When the multi company is not set, all works perfectly.

Tested on odoo runbot, there is no issue.

[2019-01-31 21:27] gregory-moka commented on #55
Edit :
Seems to be the same on a fresh instance, without "multicompany" option.

[2019-02-01 13:44] matalaniz opened #56 "Email field repeated v12"
Im having this field repeated like this
![email field issue](https://user-images.githubusercontent.com/1443042/52126483-3dd0c300-260e-11e9-82bc-f5ff3e6906e6.JPG)

thanks!!

[2019-02-01 18:02] Laeborg opened #57 "[12.0] MuK is not showing up"
On fresh install (Debian 9, Odoo 12.0) MuK Backend Theme is not showing up in Apps.

- Files (muk_utils, muk_web_theme, muk_web_utils) have been copied to addons/
- /etc/odoo/odoo.conf have the right addons dir.
- File permissions should be right as they match the other addons.
- Apps list have been refreshed in developer mode.

[2019-02-01 18:34] Laeborg commented on #57
Sorry this doesn't seems to be a issue with this module, but my Odoo installation as it also seems to be the case with other modules.

[2019-02-01 18:34] #57 closed, assigned to nobody

[2019-02-02 01:29] shiftctrl-io opened #58 "Uncaught ReferenceError: SimpleBar is not defined"
Caught this error all of a sudden. Everything was working fine a couple days ago.

Uncaught ReferenceError: SimpleBar is not defined
https://www.dimeond.com/muk_web_utils/static/src/js/libs/scrollbar.js:22
Traceback:
ReferenceError: SimpleBar is not defined
    at HTMLDivElement.<anonymous> (https://www.dimeond.com/muk_web_utils/static/src/js/libs/scrollbar.js:22:3)
    at Function.each (https://w

[2019-02-03 16:02] keshrath commented on #58
Please make sure your dependencies are up2date

[2019-02-03 16:08] keshrath commented on #55
Thx for the feedback, I will look into it

[2019-02-03 16:21] keshrath commented on #54
https://github.com/muk-it/muk_web/commit/2151474de6a71a1897a9edd411d0b495f88c325d

[2019-02-03 16:21] #54 closed, assigned to nobody

[2019-02-03 16:22] #53 closed, assigned to nobody

[2019-02-03 16:25] keshrath commented on #56
Which app causes this error? I can't reproduce it.

[2019-02-03 21:45] shiftctrl-io commented on #58
All dependencies are up to date, I ended up reverting to an older snapshot and the problem went away. I have no idea why that happened because it was working fine for a weeks then that error came up out of nowhere.

[2019-02-03 22:14] #58 closed, assigned to nobody

[2019-02-05 09:27] kopeyev commented on #49
Could You say, where exactly You have changed that value in code?

[2019-02-05 11:43] kopeyev opened #59 "[11.0] Can not preview MS OFFICE - 501 error (solved)"
When I try to open document, I got an error
PDF.js v1.7.225 (build: 17d135f)
Message: Unexpected server response (501) while retrieving PDF
-----------
Logs:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/urllib3/connection.py", line 138, in _new_conn
    (self.host, self.port), self.timeout, **extra_kw)
  File "/usr/lib/python3/dist-packages/urllib3/util/connection.py",

[2019-02-05 11:46] kopeyev commented on #59
Firstly, I've installed modules and dependencies(unoconv, pdfconv, libreoffice) on mac - Everything worked fine. Then I've tried to install everything on docker, made it alternatively as on mac, but have got an error below.

[2019-02-05 12:03] kopeyev commented on #59
I think I've found the problem.
I've tried to unoconv -f pdf file.docx under user odoo, i've got an error:
odoo@c983b2d1d2a2:/$ unoconv -f pdf applic_doc.docx
Traceback (most recent call last):
  File "/usr/local/bin/unoconv", line 1118, in convert
    document.storeToURL(outputurl, tuple(outputprops) )
uno.IOException: SfxBaseModel::impl_store <file:///applic_doc.pdf> failed: 0x11b

During handli

[2019-02-09 13:17] matalaniz commented on #56
This error appears in the contacts app. The e-mail field is repeated. Maybe is a translation issue.

[2019-02-09 14:07] keshrath commented on #56
The contacts app is an core Odoo module. Which MuK app causes this bug. I don't get this bug in our demo (demo12.mukit.at)

[2019-02-09 14:08] #56 closed, assigned to nobody

[2019-02-09 18:17] #59 closed, assigned to nobody

[2019-02-11 08:19] DesarrolloWIL commented on #49
Of course:

- First, enable dev mode / debug
- Settings -> Technical -> System Parameters -> web.base.url

Regards

[2019-02-13 20:01] keshrath commented on #55
With a fresh database and exactly these 2 modules, as well as 2 companies, it seems to work for me without a problem.

[2019-02-13 20:02] keshrath commented on #55
![image](https://user-images.githubusercontent.com/4851083/52740148-b3576e80-2fd2-11e9-9765-5119a39fc94d.png)

[2019-02-14 05:50] luisvzqz commented on #44
I have the same problem without any luck I tried:
1. Installing from the odoo website
2. Installing from github

I had restarted the dbs several times, please help !!!!

[2019-02-14 06:41] keshrath commented on #44
Please check if you have the right permissions on the addons folder for the odoo user.

[2019-02-14 08:44] gregory-moka commented on #55
![capture](https://user-images.githubusercontent.com/45974412/52774225-082fcf00-303d-11e9-853c-88fb3173b39b.JPG)

I was talking about this settings

[2019-02-14 08:59] keshrath commented on #55
OK, but they seem to work as well. Please check the order of your assets views.

![image](https://user-images.githubusercontent.com/4851083/52775094-25659d00-303f-11e9-8c2b-4be28593c3e1.png)

[2019-02-14 08:59] keshrath commented on #55
Branding should have sequence 10 and Theme the sequence 15. Maybe this got broken with some update.

[2019-02-14 09:08] gregory-moka commented on #55
Sequences are ok, BUT, I've got this view you don't have on you list. (?)
![capture](https://user-images.githubusercontent.com/45974412/52775636-6a3e0380-3040-11e9-8c43-d2be9d2b6b69.JPG)

[2019-02-14 09:16] keshrath commented on #55
This should be a customization of the branding colors. Please try to delete the view.

[2019-02-14 09:25] gregory-moka commented on #55
No effect (after update apps - Branding & Web Branding)

[2019-02-14 09:30] keshrath commented on #55
I was finally able to reproduce the bug. I will get back to you.

[2019-02-14 09:32] gregory-moka commented on #55
Oh, and I just saw that this issue is another issue in fact ! I didn't submit this issue, cause it wasn't important, BUT, the issue I explained here (first post) is for website (see this screenshot) (sorry)
![image](https://user-images.githubusercontent.com/45974412/52777351-dc641780-3043-11e9-85a2-04330d32e0e6.png)

[2019-02-14 09:40] keshrath commented on #55
The reason is that in a multi company env no custom view is created and therefore the colors wont change. The attachment gets created, thats the reason you see the right colors on the settings page. One workaround should be to set the colors before switching to a multi company Odoo. The website color customization should not be influenced by the theme. Are you sure this isn't an Odoo problem?

[2019-02-14 11:01] gregory-moka commented on #55
Yes, I tried on runbot before posting the issue.
But I tried to reproduce the bug, and in 14days, the bug is solved... maybe a conflict with Odoo. You're right.

[2019-02-14 11:28] keshrath commented on #55
Test if this commit https://github.com/muk-it/muk_base/commit/006233c254639b9130cdca954aa046ad2c40efe7 solves the problem for you. As far as i understood it there is the following situation: An existing attachment with no corresponding view exists. But I only check if the attachment exists and so no new view is created. My commit should solve this problem. The website customize dialog probably has

[2019-02-14 13:05] #55 closed, assigned to nobody

[2019-02-16 11:25] kopeyev opened #60 "Preview MS Office Module Issues - Odoo 11 - .xlsx docs"
If the number of columns in the first row is not equal to the number of others, it is not converted correctly, in short, it converts only the number of columns in each row that the first row contains. I put a screenshot and a document below.
![image](https://user-images.githubusercontent.com/12142278/52899062-b5017c00-31f6-11e9-8a15-c7222e839a6f.png)

[Форма отчетности  (2).xlsx](https://github.co

[2019-02-16 12:00] kopeyev opened #61 "[11.0] Can't open .pptx document"
When I try to open .pptx file, I get 415 error. But with .ppt and other ms office doc types everything works fine.

PDF.js v1.7.225 (build: 17d135f)
Message: Unexpected server response (415) while retrieving PDF

LOGs seem to be ok:
2019-02-16 17:57:02,306 1 INFO transtelecom odoo.addons.muk_utils.tools.http: /web/content?model=ir.attachment&id=3198&field=datas&filename_field=name&filename=%D0%A2%

[2019-02-16 12:06] kopeyev commented on #60
Tried to open same doc with english contents
[form_otch.xlsx](https://github.com/muk-it/muk_web/files/2871866/form_otch.xlsx)
![screen](https://user-images.githubusercontent.com/12142278/52899561-6b1b9480-31fc-11e9-962d-7589194e8bc7.png)

[2019-02-16 12:11] kopeyev commented on #60
It converts only the number of columns in each row that the first row contains.
Simplest example
![screen_xlsx](https://user-images.githubusercontent.com/12142278/52899630-2ba17800-31fd-11e9-979d-096926a68753.png)
[test_xlsx.xlsx](https://github.com/muk-it/muk_web/files/2871873/test_xlsx.xlsx)

[2019-02-27 13:58] basebasket opened #63 "Preview MS Office Module Issues - Odoo 10 - got blank page"
I installed MuK Preview MS Office module on odoo 10 Community and got blank page preview as following image without any error message
https://i.imgur.com/nZ3IykD.png
Libreoffice : Version: 5.1.6.2
unoconv 0.7

[2019-03-05 13:06] tobytes opened #65 "[11] Bug on browsers without ES6 support"
Hi,
I discovered a bug on older browsers, muk_web_utils will break javascript (and odoo).
You are using the ES6 feature [defaultParameterValues](http://es6-features.org/#DefaultParameterValues) which is not supported by older [browsers](https://kangax.github.io/compat-table/es6/).

I made a PR with a fix #64

[2019-03-05 18:21] keshrath commented on #65
Merged 👍

[2019-03-05 18:21] #65 closed, assigned to nobody

[2019-03-11 10:14] moblesmarti opened #66 "[12.0] Uncaught TypeError: Cannot read property 'settingView' of undefined"
We have updated the modules, and when we have installed the theme module, we get this error when we go to the "configuration" menus.

Error:
Uncaught TypeError: Cannot read property 'settingView' of undefined

http://192.168.1.51:8069/web/content/5439-d2d77f2/web.assets_backend.js:5
Rastreo de error:
TypeError: Cannot read property 'settingView' of undefined
    at Class._moveToTab (http://192.168

[2019-03-11 10:20] keshrath commented on #66
The reason ist this field: https://github.com/muk-it/muk_web/blob/12.0/muk_web_theme/views/res_config_settings_view.xml#L41
But I have no idea why! Do you?

[2019-03-11 11:12] moblesmarti commented on #66
Unfortunately, neither do I

[2019-03-11 21:36] Vincent-Regouby commented on #66
I get the same error.

[2019-03-11 21:57] keshrath commented on #66
https://github.com/muk-it/muk_web/commit/63de0ee762de72b18b7dc3915a7711e1b41a8a20

[2019-03-11 21:57] #66 closed, assigned to nobody

[2019-03-12 16:20] Mattshiva opened #67 "muk_web_utils"
general settings give the following error after installing of muk_web_utils

Error:
TypeError: this.modules[this.currentIndex] is undefined

http://localhost:8069/web/content/264-72af8f1/web.assets_backend.js:5
Traceback:
_moveToTab@http://localhost:8069/web/content/264-72af8f1/web.assets_backend.js:5:5
_renderLeftPanel@http://localhost:8069/web/content/264-72af8f1/web.assets_backend.js:8:310
_ren

[2019-03-12 16:22] keshrath commented on #67
Javascript error messages without debug mode with assets are not verifiable. this bug may already be solved by https://github.com/muk-it/muk_web/issues/66

[2019-03-12 16:49] Mattshiva commented on #67
Solved! Perfect. Thanks

[2019-03-12 18:44] #67 closed, assigned to nobody

[2019-03-14 20:10] MosabWadea opened #69 "last commits caused odoo to crash"
Hi
I had to revert to commit `63de0ee762de72b18b7dc3915a7711e1b41a8a20` in order to make odoo work again!

because today I have pulled the updates and this error appeared and odoo didn't work:
[code]

[2019-03-14 21:22] keshrath commented on #69
Should be solved by the newest commit

[2019-03-15 11:35] MosabWadea commented on #69
I am afraid that it is not...

I had to checkout to the same point again

I restarted odoo service and here is the odoo log:

[code]

[2019-03-15 11:39] keshrath commented on #69
https://github.com/muk-it/muk_web/pull/68#issuecomment-473187055

[2019-03-15 12:07] keshrath commented on #69
k I was able to reproduce this. I will try to fix it.

[2019-03-15 12:45] manthan-weboffice opened #70 "Muk web preview - Odoo 10 - got blank page while printing - Firefox,Safari"
Hi,
I have installed muk web preview module in my system alng with all needed module of muk to print document in odoo 10.
When i try to print document from google chrome it works fine, but when i try to print same document in Firefox or safari. it prints document with one blank page.(prints total two pages, while only one page has content in it)

[2019-03-15 13:23] ghost opened #71 "odoo11 muk security install issue."
Odoo 11.0-20190315

while installing muk security which is bundled with muk dms, throwing error.

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/fields.py", line 940, in __get__
    value = record.env.cache.get(record, self)
  File "/usr/lib/python3/dist-packages/odoo/api.py", line 967, in get
    value = self._data[key][field][record._ids[0]]
KeyE

[2019-03-15 16:11] keshrath commented on #71
https://github.com/muk-it/muk_base/pull/6

[2019-03-15 16:11] #71 closed, assigned to nobody

[2019-03-15 19:44] #69 closed, assigned to nobody

[2019-03-15 21:12] MosabWadea commented on #69
I am sorry if I am causing any disturbance, but I am still facing issues with the last update. I restarted the service again and here is the log...

[code]

maybe I am missing some module or some configuration that I should do?
Please help

[2019-03-15 21:16] keshrath commented on #69
The reason why it didn't work for us was the unmodified version number, so the update wasn't pulled. Now it works without any problems. Have you tried it on a fresh database? I'm sorry I can't tell you more, but I can't reproduce the error.

[2019-03-18 07:00] spacimek opened #72 "[12.0][muk_web_theme] Undefined variable: "$mk-apps-color""
I am getting this error right after login:
odoo.addons.base.models.assetsbundle: Error: Undefined variable: "$mk-apps-color".
        on line 12953 of stdin

   ----------^
This error occured while compiling the bundle 'web.assets_backend' containing:
...

I've tried to add it to variables.scss unde muk_web_theme, but with no success. I've also tried debug=assets... same result.

Any idea what can

[2019-03-18 07:05] moblesmarti opened #73 "[12.0] psycopg2.InternalError: current transaction is aborted, commands ignored until end of transaction block"
we have updated your apps muk_web_branding and muk_website_branding and we have the following error: psycopg2.InternalError: current transaction is aborted, commands ignored until end of transaction block.

[2019-03-18 07:10] spacimek commented on #72
Same issue with $mk-appbar-color... apparently Odoo has probiem to properly interpret apps.scss / appsbar.scss. Just as a note, I am using Odoo 12C - also just few days old.

[2019-03-18 10:40] keshrath commented on #72
If you have recently updated the app, you may need to uninstall and reinstall it once.

[2019-03-18 10:40] keshrath commented on #73
IF you have recently updated the app, you may need to uninstall and reinstall it once.

[2019-03-18 15:01] moblesmarti commented on #73
Hi, we have tested with the order **./odoo-bin --database=DB_NAME --uninstall MODULE_NAME** and its has informed us that the uninstall command is not correct.

In ./odoo-bin --help cannot see any command for uninstall module. Any help, please...

[2019-03-18 17:40] keshrath commented on #73
use the odoo shell and the function button_immediate_uninstall on ir.module.module

[2019-03-19 21:29] frikinside opened #74 "[12.0][muk_web_theme] QWeb2: Template 'muk_web_theme.AppsBarMenu' not found"
Just after install the theme, appear this error:
Error:

Any access to the backend leads to the same error.
The only app that is working is the "website". I guess because the website does not use the backend theme.

How can i solve this issue?

[2019-03-19 21:36] frikinside commented on #74
~#44 Here is the same problem. Is closed but I couldn't find any solution there.~

Nevermind. Solved after restart server.
I think I forget to read properly :(

[2019-03-19 22:50] #74 closed, assigned to nobody

[2019-03-20 05:25] digitalliuzg commented on #46
Temporary solution uninstall mail_enterprise

[2019-03-20 13:22] keshrath commented on #73
Shell: https://medium.com/@reedrehg/run-an-odoo-repl-ipython-prompt-7f10d0d5d824

[2019-03-20 13:24] keshrath commented on #73
[code]

[2019-03-20 15:31] moblesmarti commented on #73
Thank you very much for your help, but I can not solve it.

odoo@portal:/opt/odoo$ **./odoo-bin shell -d mydatabase**

Traceback (most recent call last):
  File "/usr/lib/python3.6/code.py", line 64, in runsource
    code = self.compile(source, filename, symbol)
  File "/usr/lib/python3.6/codeop.py", line 168, in __call__
    return _maybe_compile(self.compiler, source, filename, symbol)
  File "/

[2019-03-20 15:50] moblesmarti commented on #73
The last test I have done ... after reading your instructions carefully

odoo@portal:/opt/odoo$ ./odoo-bin shell -d mydatabase

In: attachment_obj = self.env['ir.module.module']
In: attachment_obj.search([('name', '=', 'muk_web_theme')], limit=1)
Out: ir.module.module(7,)

In: attachment_obj.module.button_immediate_uninstall()
Out: Traceback (most recent call last):
  File "/usr/lib/python3.6/code

[2019-03-20 15:52] keshrath commented on #73
I think its just `attachment_obj.button_immediate_uninstall()` but I don't get why you call the variable attachment_obj

[2019-03-20 15:53] moblesmarti commented on #73
It's only, I see it on the URL help, I don't know it, too

[2019-03-20 16:09] moblesmarti commented on #73
Now, I haven't any errors, but I don't know if the module (or modules) is uninstalled, because I restart the server and I have the same error.

If I repeat the same orders, the same thing happens to me, that is to say that it seems that I do not uninstall them.

In the last ordrer say me "{'type': 'ir.actions.act_url', 'target': 'self', 'url': '/web'}"

[2019-03-20 16:17] keshrath commented on #73
did you do `env.cr.commit()`?

[2019-03-20 16:29] moblesmarti commented on #73
In:     attachment_obj = self.env['ir.module.module']
In:     attachment_obj.search([('name', '=', 'muk_web_theme')], limit=1)
Out: ir.module.module(7,)
In: attachment_obj.button_immediate_uninstall()

Out: 2019-03-20 16:28:18,402 1598 WARNING PMM18032019 odoo.modules.graph: module muk_branding: not installable, skipped
2019-03-20 16:28:18,402 1598 WARNING PMM18032019 odoo.modules.graph: module cr

[2019-03-20 17:50] moblesmarti commented on #73
Eureka! With patience and by pressing the instructions by hand (not copying and pasting) I have solved the problem.
At least I managed to start the database, uninstalling the module from the theme.
Sincerely, thank you very much for your help.

[2019-03-20 19:56] #73 closed, assigned to nobody

[2019-03-21 05:59] agent-z28 opened #75 "Odoo coding guidelines"
The odoo coding style guide lines recommend not to put the company Name in the Module Name..
Else all Modules start with odoo_

Nevertheless nice modules

[2019-03-21 09:45] #75 closed, assigned to nobody

[2019-03-21 14:47] #72 closed, assigned to nobody

[2019-03-22 04:11] luisvzqz opened #76 "Uncaugh TypeError: Cannot read property 'tag' of undefined"
I got the following error, I think that is related with muk_web_theme this error is no harm, but it is given always when I create or modified a user, partner, etc, can you please help me ?

![Admin   System](https://user-images.githubusercontent.com/24595734/54800165-2bdeca00-4c26-11e9-9a75-3d27c6e7469a.png)
![Screen Shot 2019-03-21 at 21 42 24](https://user-images.githubusercontent.com/24595734/5

[2019-03-22 04:31] luisvzqz commented on #76
Trying to upgrade the new web_theme is not possible, I was trying to reload the app, and it STOPPED with this:

![Screen Shot 2019-03-21 at 22 25 22](https://user-images.githubusercontent.com/24595734/54800616-74978280-4c28-11e9-9c6b-1962b15f9eda.png)
![500 Internal Server Error](https://user-images.githubusercontent.com/24595734/54800643-98f35f00-4c28-11e9-9039-59c302f9d303.png)

I am not sure if

[2019-03-22 06:44] luisvzqz commented on #76
Finally I deinstall and install every Muk app, and it works !! but ... the problem persist only when you save on General settings, Users or Companies

[2019-03-22 09:09] keshrath commented on #76
Please tell me the steps to reproduce the error while in debug mode with assets. Without the assets debug mode I can't do much with the error log.

[2019-03-23 15:30] luisvzqz commented on #76
Now, I processed it again with assets, giving the following result:

Thanks for your help,
-LV
![Screen Shot 2019-03-23 at 09 29 25](https://user-images.githubusercontent.com/24595734/54868103-562ba700-4d4e-11e9-8d9a-45e1a4543d8e.png)

[2019-03-23 17:10] keshrath commented on #76
https://github.com/muk-it/muk_dms/commit/73bc209d2a1f01a78f7c0437636aa2566362efcf

[2019-03-23 17:10] keshrath commented on #76
Please test if an update of muk_dms_view fixes your problem

[2019-03-24 00:02] luisvzqz commented on #76
Thank you very much !!! it works great !!!

Muchas gracias otra vez, saludos,
-LV

[2019-03-24 00:02] #76 closed, assigned to nobody

[2019-04-03 19:10] DatenSAS commented on #21
Hi,

Now, I'm trying to install on Odoo.sh V10. Through a requirement.txt it was
possible to install 'cachetools' but when I try to install 'pdfconv' I get
an error.

El vie., 16 nov. 2018 a las 1:59, Muhamad Minardo (<notifications@github.com>)
escribió:

--
Carlos Alberto Villarreal C.
Director de Proyectos
DATEN S.A.S.
Calle 12 # 74 - 06, Cali - Colombia
Celular:+ 57 3127575669

[2019-04-03 19:13] keshrath commented on #21
We don't maintain pdfconv anymore, but it should still be in PyPi. But you can't use this under Odoo.sh because you need unoconv and Odoo.sh doesn't allow apt installations as far as I know.

[2019-04-03 19:13] #21 closed, assigned to Kerrim-

[2019-04-03 23:18] kopeyev commented on #60
SOLVED.
In muk_web_preview_msoffice/static/src/js/preview_handler.js after line 119 ("""$pane.attr('id', 'sheet-' + index);""") add following:
						"""var maximum_arrs = 1;
						sheet.forEach(function (arr) {
							if(arr.length>maximum_arrs){
								maximum_arrs = arr.length;
							}
						});
						sheet.forEach(function (arr) {
							if(arr.length<maximum_arrs){
								for (var i = arr.l

[2019-04-03 23:25] keshrath commented on #60
Can you make a PR?

[2019-04-03 23:30] kopeyev commented on #60
What the PR? I think that the problem is in using handsontable libs

[2019-04-03 23:31] keshrath commented on #60
Since you have found a solution, you are welcome to make a pull request, with a corresponding fix.

[2019-04-03 23:44] kopeyev commented on #60
Oh, cool)

[2019-04-04 07:12] #60 closed, assigned to nobody

[2019-04-05 12:51] kopeyev commented on #61
I've found the problem, but didn't solve it. When I create .pptx document, it gives value "application/zip" to the field [mimetype] in "ir.attachment" model. If I change that field's value to "application/vnd.openxmlformats-officedocument.presentationml.presentation", it will open the preview correctly.

[2019-04-05 14:25] kopeyev commented on #61
Solved. Added some code to IrAttachment def create, def write:
if (values['name'] and len(values['name'])>4):
            if(values['name'][-5:] == ".pptx"):
                values['mimetype'] = 'application/vnd.openxmlformats-officedocument.presentationml.presentation'

[2019-04-05 14:31] keshrath commented on #61
that seems to be something that should be fixed in odoo itselfe

[2019-04-05 14:42] kopeyev commented on #61
Sorry, the problem is not in your code or odoo. I found that our code uses a different field in the ir.attachment "filename". So much time was wasted (

[2019-04-05 14:42] #61 closed, assigned to nobody

[2019-04-08 06:44] kopeyev commented on #25
how to use muk_custom_certificate parameter?

[2019-04-15 01:46] spacimek opened #79 "[12.0][muk_web_branding] Issue on clean installation"
These are the steps I have performed on latest Odoo 12C + latest MuK modules from pip, on a new server. They result in issue below - do you please have any advice on what am I doing wrong?

1) Install muk_saas_branding before DB initialization (in conf I am just using database_manager_system_name)
2) Initialize the DB and install muk_branding (+I've installed just CRM + Project + Website)
3) Insta

[2019-04-15 05:03] gaikaz commented on #79
Had the same issue. Was planning to write this issue as well.

It seems that the problem is with `upgrade.js` script. As I understand, it removes the Enterprise upgrade asking checkboxes from settings. It probably should just hide them, so other scripts still can find them.

Until muk fixes this, you can simply comment out this script. I have a made fork of this repo for that purpose for now.

Edi

[2019-04-15 09:41] keshrath commented on #79
https://github.com/muk-it/muk_web/commit/56af9993ab23c7f66582a992487a677048809d41

Can you confirm, that this fixes your issue?

[2019-04-15 09:41] #63 closed, assigned to nobody

[2019-04-15 09:41] #70 closed, assigned to nobody

[2019-04-15 14:14] nvietthuan2010 opened #80 "[12.0][muk_web_branding] this.getFocusableElement (...) is undefined"
this is error

TypeError: this.getFocusableElement(...) is undefined

http://cloud.posplus.vn/web/static/src/js/fields/abstract_field.js:324
Traceback:
setIDForLabel@http://cloud.posplus.vn/web/static/src/js/fields/abstract_field.js:324:9
setIDForLabel@http://cloud.posplus.vn/web/static/src/js/fields/basic_fields.js:838:9
OdooClass.extend/</prototype[name]</<@http://cloud.posplus.vn/web/static/src

[2019-04-15 15:12] keshrath commented on #80
I can't reproduce this error. Fresh database and installed web branding.

[2019-04-15 15:44] gaikaz commented on #79
Thanks for your fast response, @keshrath  :)
Sadly, this didn't fix it.
I went ahead and tried to reproduce it on a fresh Odoo 12.0 install with a fresh empty DB, just by installing this module. And I did get the same error.

Here is how it looks with debug+assets, so it's easier to trace:
[code]
Hopefully this helps.

[2019-04-15 15:51] keshrath commented on #80
duplicate (https://github.com/muk-it/muk_web/issues/79)

[2019-04-15 15:51] #80 closed, assigned to nobody

[2019-04-15 16:19] keshrath commented on #79
https://github.com/muk-it/muk_web/commit/71e1834859e475f1ccd2ffa4e107d71196527c31

[2019-04-15 16:19] #79 closed, assigned to nobody

[2019-04-15 16:34] spacimek commented on #79
Thanks, guys! Yes, I can confirm that issue is fixed!

Steps:
1) Uninstall muk_web_branding (+website_branding)
2) Get latest modules on pip:
odoo12-addon-muk-saas-branding                       12.0.1.0.3
odoo12-addon-muk-web-branding                        12.0.1.1.5
3) Upgrade muk_saas_branding
4) Install muk_web_branding again.
5) Enjoy General Settings!

[2019-04-22 16:19] moblesmarti opened #81 "[12.0][muk_web_theme] Sidebar Type has lost the lateral position"
Hi,
With some of the latest updates of thema the Sidebar Type has lost the lateral position.

![Captura de pantalla 2019-04-22 a las 18 11 44](https://user-images.githubusercontent.com/12881456/56510792-262d1a80-652b-11e9-9b5e-5db42c4cbe8a.png)

[2019-04-23 10:26] keshrath commented on #81
Cannot reproduce this error. Our demo runs with the latest version.

[2019-04-23 14:20] moblesmarti commented on #81
Hi, we have installed Odoo 12 OCB to its latest version, in Ubuntu 18.04.2 LTS updated and the version of muk_web_theme is 12.0.1.5.2

[2019-04-23 16:36] gaikaz opened #82 "[12.0] Uncaught TypeError: Cannot read property 'left' of undefined"
Full error:
[code]

Easiest way to reproduce is to use Chrome browser's DevTools with device toolbar toggled on with Pixel 2 XL on a landscape mode. Like so:
![image](https://user-images.githubusercontent.com/17097810/56598846-fb5fc680-65fd-11e9-9037-82b12531dbbc.png)

It seems to effect only touch devices that are wide enough to see the small type (no labels) of sidebar menu. The error happens on

[2019-04-24 08:15] keshrath commented on #82
https://github.com/muk-it/muk_web/commit/7d7cbf56dcfaeb785279800961c9e35fdd3a74c8

[2019-04-24 23:08] spacimek opened #83 "[12.0][muk_web_theme] column ir_attachment.temporary does not exist"
I was upgrading an installation today, including muk_web_theme. An upgrade was complaining about undefined variable $mk-apps-color, so as suggested, I have uninstalled and tried to install again.

I've got this error now:
bad query: b'SELECT "ir_attachment"."id" as "id","ir_attachment"."access_token" as "access_token","ir_attachment"."create_date" as "create_date","ir_attachment"."public" as "publ

[2019-04-24 23:22] spacimek commented on #83
Just to specify, I am trying with this one: odoo12-addon-muk-web-theme-12.0.1.5.2. I have also upgraded all the other MUK modules that I was using to their latest version, just to make sure...

[2019-04-25 06:49] keshrath commented on #83
https://github.com/muk-it/muk_web/blob/12.0/muk_web_utils/models/ir_attachment.py

[2019-04-26 06:12] spacimek commented on #83
Ok, thank you. I don't understand why it didn't work (I have first upgraded all the modules and the web_theme), but OK. I have refreshed that an first tried to upgrade all the modules, then restore the backup, then upgrade the utils first and then upgrade the rest  - and it worked OK in this order.

[2019-04-26 06:12] #83 closed, assigned to nobody

[2019-04-26 15:03] gaikaz commented on #82
Thank you, this seem to have fixed it as I can't reproduce the issue anymore.

[2019-04-26 15:03] #82 closed, assigned to nobody

[2019-04-26 19:56] MosabWadea opened #84 "can't access settings"
hi
when I enable the MuK Web Branding module I can't access Odoo General Settings anymore.. and I get this error message:

[code]

in the image bellow you can see what branding modules I have installed:
![image](https://user-images.githubusercontent.com/5504480/56833184-6e737200-6876-11e9-9f02-70fa9a91874b.png)

[2019-04-26 20:04] MosabWadea commented on #84
and when I tried to uninstall again I get this error:

[code]

[2019-04-26 20:12] gaikaz commented on #84
The first error you described was fixed, I think. Here: #79
You should be fine updating like described in the issue linked.

The second error looks very similar to issue here: https://github.com/muk-it/muk_misc/issues/9

[2019-04-26 20:21] MosabWadea commented on #84
great
Thanks @gaikaz

I will follow the other issues ..

[2019-04-26 20:28] MosabWadea commented on #79
I am afraid this is not solved yet!
I have pulled latest updates from git repo and tried the same steps @spacimek mentioned, but still same issue!

[2019-04-28 09:32] keshrath commented on #81
I don't use the OCB but Odoo directly but here I can't reproduce the error, therefore I will close this issue. If you can locate the problem, I would be happy to receive more info or a pull request.

[2019-04-28 09:32] #81 closed, assigned to nobody

[2019-04-28 10:52] moblesmarti commented on #81
OK thanks

[2019-05-06 10:17] #84 closed, assigned to nobody

[2019-05-07 04:32] Tikanya opened #85 "[12.0][muk_web_preview_msoffice] docx, xlsx, pptx url missing fot non-admin user"
Ms Office doc-file is previewed correct, but for .docx odoo creates temporary attachment with wrong mime type (text/plain) in case user access is not "Administration/Settings". Thus non-admin user can't preview docx, pptx and xlsx

[2019-05-10 19:40] keshrath commented on #85
https://github.com/muk-it/muk_web/commit/6ab318c0d216f37bd6579e2ca0657c3edac9a48e

[2019-05-11 06:57] Tikanya commented on #85
The error comes from here: /odoo/addons/base/models/ir_attachment.py

def _check_contents(self, values):
        mimetype = values['mimetype'] = self._compute_mimetype(values)
        xml_like = 'ht' in mimetype or 'xml' in mimetype # hta, html, xhtml, etc.
        user = self.env.context.get('binary_field_real_user', self.env.user)
        force_text = (xml_like and (not user._is_system()  or

[2019-05-11 09:16] keshrath commented on #85
Thats why I set the mimetype in the controller. The `_compute_mimetype` should than take this value instead of trying to compute it.

[2019-05-11 15:32] gregory-moka opened #86 "Branding > Documentation & Support > Documentation link"
Hello,
When I define a documentation link, by default, the plugin add `/docmentation` after the entered URL :
`https://TheDocumentationURL/subfolder/documentation`

[2019-05-11 21:42] keshrath commented on #86
Yes this is intended: https://github.com/muk-it/muk_base/blob/12.0/muk_branding/tools/debrand.py#L32
How would you expect it to work?

[2019-05-13 12:19] patel1008b opened #87 "Error: Undefined variable: "$mk-apps-color"."
Error: Undefined variable: "$mk-apps-color".
        on line 12598 of stdin

   ----------^
This error occured while compiling the bundle 'web.assets_backend' containing:
    - /web/static/lib/bootstrap/scss/_functions.scss
    - /web/static/lib/bootstrap/scss/_mixins.scss
    - /web/static/src/scss/utils.scss
    - /web/static/src/scss/bs_mixins_overrides.scss
    - /muk_web_theme/static/src/scss

[2019-05-13 12:20] patel1008b commented on #72
Not working.

[2019-05-20 16:55] #86 closed, assigned to nobody

[2019-05-20 16:57] keshrath commented on #87
https://github.com/muk-it/muk_web/issues/72

[2019-05-20 16:57] #87 closed, assigned to nobody

[2019-05-21 07:22] gregory-moka commented on #86
Oops, sorry to be late.
In fact, I thought I just need to paste the documentation url, and, that's all.
According to the support apps you choose, you are not always able to change the default url of the documentation (ex : Website help Desk from SythilTech).
So, I'm able to add some redirection rules to move users to the right page, but, it could be easier to use the pasted url.
Thanks :)

[2019-05-21 07:41] keshrath commented on #86
https://github.com/muk-it/muk_base/blob/12.0/muk_branding/tools/debrand.py#L35
https://github.com/muk-it/muk_base/blob/12.0/muk_branding/tools/debrand.py#L39

Try to change those two lines of code.

Unfortunately I can't test it at the moment, but I don't think I want to change it in general. The background is that most people will probably leave odoo as their documentation page and this will make

[2019-05-21 07:45] gregory-moka commented on #86
Ok..
Paradoxal, cause, in my case, I use your app to hide Odoo, just to make think easier for final user. And, If I lead them to the odoo support..
But, ok, thanks for answering :)

[2019-05-21 07:47] keshrath commented on #85
I was finally able to reproduce the bug and will try to fix it asap.

[2019-05-21 07:55] keshrath commented on #86
Yes of course this is the idea of this module, but especially with the documentation we have made the experience that it is better to refer to the Odoo page than to clone the whole documentation on an own server. And to make this possible it is unfortunately necessary to implement it this way. But I think you can change it by making a small change in the code or by setting a webserver to do so.

[2019-05-21 18:51] keshrath commented on #85
https://github.com/muk-it/muk_web/commit/58f7801b8aaed8e1312aba97827dfb45f4319ad3

Please try again now. This seems to be a rather strange behaviour of Odoo. I already opened a ticket in Odoo.

[2019-05-21 18:51] #85 closed, assigned to keshrath

[2019-05-22 05:11] Tikanya commented on #85
Sorry, muk_web_utils (12.0.2.9.6) does not solve the problem for me, even more, now the admin together with a non-admin user cannot preview *.docx. Although I understand that this is against the rules - but only this change solved my problem: edit odoo / odoo-server / odoo / addons / base / models / ir_attachment.py remove the condition "not user._is_system () or"

[2019-05-28 13:19] paulius-sladkevicius opened #88 "Dependencies for muk_web_theme"
Hi,

I've tested your muk_web_theme and it look great! Thanks for that.
However I've figure out that it has dependencies to muk_web_utils, muk_utils, muk_autovacuum which I see has functionality that is not related to theme functionality. I see that like security thread to bring more than needed. Any possibility to extract only what is needed and have it inside muk_web_theme? Thank you for an answ

[2019-05-28 14:38] keshrath commented on #88
Since it is open source, you can customize it as you like. But we don't follow the strategy to decouple these modules. Since it makes sense for us to have these utility modules.

[2019-05-28 14:38] #88 closed, assigned to nobody

[2019-05-28 14:39] paulius-sladkevicius commented on #88
I got it, thanks once more for a clear message.

[2019-05-29 06:22] gsputro opened #89 "The settings for Sidebar and Chatter seems didn't work (muk_web_theme)"
Hi @keshrath, I'm not quite sure is there any requirements that I missed. But when I did the changes on the "Settings" for Sidebar and Chatter seems didn't make any changes, still showing the default which is 'small sidebar' and 'chatter below form'.

I'm using Odoo CE version 12.
Appreciate your help and feedback.

Picture provided here:
https://monosnap.com/file/SQFtFLGWX2SmPirS5a9aO5l2AqWIsq

C

[2019-05-29 08:07] keshrath commented on #89
I guess your screen isn't big enough.

Settings:
![image](https://user-images.githubusercontent.com/4851083/58540349-7e75cd00-81f9-11e9-9de4-a9697b388aab.png)

Big screen:
![image](https://user-images.githubusercontent.com/4851083/58540251-45d5f380-81f9-11e9-9cb5-676581355a69.png)

Small screen:
![image](https://user-images.githubusercontent.com/4851083/58540318-71f17480-81f9-11e9-9e57-2e66f88b45d

[2019-05-29 08:42] gsputro commented on #89
Hi @keshrath,

Spot on mate, that's my issue (screen resolution).

Just an FYI for others as well, sided chatter will works on the screen with minimum width is 1535px.
Usually avg laptop/notebook are on 1440px width, that's the reason why it seems didn't work on me.

Thank you for your prompt reply! 🍻

[2019-05-29 08:42] #89 closed, assigned to nobody

[2019-05-31 17:18] mailman11 opened #90 "[12.0]Ms office preview can't load content"
Hi,
I'm setting up document management system for local usage and everything works fine beside of msoffice preview module. Neither of ms office files can't be loaded.

My first question is : Is it planned to work in local enviroment ?
Preview part is shown but it can't load content, so there's this error on a blank page :

We can't process this request. An error occurred. We're sorry, but for some

[2019-05-31 17:21] keshrath commented on #90
Yeah, that's right. The file must be accessible to the viewer from the Internet. Ergo it does not work with localhost.

[2019-05-31 17:21] #90 closed, assigned to nobody

[2019-05-31 17:24] keshrath commented on #90
In version 11 we had a local variant, but many people had problems configuring their unoconv appropriately and we had too much support time so we decided to use this option with version 12.

[2019-05-31 17:50] mailman11 commented on #90
Thanks for the quick answer. Understandable, I myself was very confused while searching for solution on this issue.

First of all, i'm not odoo or python developer so I can't tell is it possible. I don't know is it common but i would suggest you an idea.

I tried to upload some files on mine OneDrive acc, so I could check if the document is even able to be shown. Uploaded it in public folder, took

[2019-06-13 14:12] gregory-moka opened #91 "Backend menu display > Flex basis"
Hello,
after my chrome update to chrome 75, the menu has a weird display :
![image](https://user-images.githubusercontent.com/45974412/59439697-052fca00-8df6-11e9-93c2-c76a0bfe3125.png)

I found a topic for this issue :

- https://bugs.chromium.org/p/chromium/issues/detail?id=958802
- https://stackoverflow.com/questions/56525100/chrome-v75-images-with-max-width-stretched-inside-a-flex-column-div

[2019-06-13 14:47] hzwzw opened #92 "Please extend the muk_web_searchpanel to list view."
Hey.
Thank you for making this great feature.
It will be really great if this feature supports both kanban view and list view. I checked the code, I think you have finished the most of the work.  With a little more codes, You will double your achieves.
Thank you!

[2019-06-13 16:58] GioViz88 commented on #44
Restarting the server and refreshing browser worked for me.

[2019-06-15 16:45] andressarmientosaad opened #93 "double line of search"
I have a problem, I see double line of search

<img width="1107" alt="Captura de Pantalla 2019-06-15 a la(s) 11 44 15" src="https://user-images.githubusercontent.com/51860358/59554017-edc21f80-8f62-11e9-8492-f6550859af44.png">

[2019-06-17 09:40] keshrath commented on #91
https://github.com/muk-it/muk_web/commit/fb14a33aa08d00d13e3a13e1f975ed3f9b4c14ef

[2019-06-17 09:42] keshrath commented on #92
I'm happy to review a PR, but right now this is not on our roadmap.

[2019-06-17 09:42] #92 closed, assigned to nobody

[2019-06-17 09:46] keshrath commented on #93
I am not able to reproduce this error. Do you have this behavior on our demo page as well? If yes: What browser and version is used? What steps are necessary to reproduce this bug?

Demo: https://demo12.mukit.at/

[2019-06-17 11:35] Revan80 opened #94 "ODOO problem of undefined documents"
Hello

my problem is the following, I import pdf files into my documents but when I try to download them it is indefinite and it does it to me with all the extensions

[2019-06-17 11:45] Revan80 opened #95 "Odoo problem indefinite documents"
Hello

my problem is the following, I import pdf files into my documents but when I try to download them it is indefinite and it does it to me with all the extensions

[2019-06-17 22:04] #94 closed, assigned to nobody

[2019-06-17 22:06] keshrath commented on #95
I need a lot more information if I am to test if there is a bug. (odoo version/steps to reproduce)

[2019-06-18 04:16] Revan80 commented on #95
Hello, thank you for your answer

The version of odoo is 12.0

The step to reproduce is the following, download the MuK Documents module
with Muk Documents View
then in documents you have to create a folder or you will put files for
example pdf, then you have to download them and that's where my problem
resides, when I download all my files are in undefined, odoo does not
recognize them.

Le mar.

[2019-06-18 10:17] keshrath commented on #95
https://github.com/muk-it/muk_dms/commit/f0ec978dad9619604188dee6196b2cf45e3c19e5

[2019-06-18 10:17] #95 closed, assigned to nobody

[2019-06-18 10:17] #91 closed, assigned to keshrath

[2019-06-18 10:54] Doliprane500 commented on #95
Thanks but, i made the change it still doesn't work

[2019-06-18 11:07] Revan80 commented on #95
Thank you very much for your help

it works !

[2019-06-20 10:03] anhvu-sg opened #96 "[12.0] [muk_web_theme] Page does not reload after clicking on button Applications"
Hello team,

Thanks for your module, it's very nice and helpful.
But I have a small problem when clicking on button **Applications**

# How to reproduce
- Get the latest Odoo source code
- Install any module have a kanban view such as Project, Recruitment ...
- 1. Go to the kanban view > clicking on **...**
![image](https://user-images.githubusercontent.com/7898318/59840536-ba293000-937c-11e9-8256

[2019-06-20 21:20] keshrath commented on #96
How need to change this line (https://github.com/muk-it/muk_web/blob/12.0/muk_web_theme/static/src/scss/mixins.scss#L22) to 1002 instead of 100. The fix will be published with the next update.

[2019-06-20 21:21] keshrath commented on #93
Closing this issue since no additional information has been provided.

[2019-06-20 21:21] #93 closed, assigned to keshrath

[2019-06-21 01:58] anhvu-sg commented on #96
thank you @keshrath

[2019-06-21 01:59] anhvu-sg commented on #96
Thank you @keshrath

[2019-06-21 15:59] keshrath commented on #96
https://github.com/muk-it/muk_web/commit/3ab7c7bea1092e5fd18a00602601f46b744e9747

[2019-06-21 15:59] #96 closed, assigned to keshrath

[2019-06-26 21:34] jr1003 opened #97 "Can`t preview Office DOC and ppt // Invalid PDF structure"
hi .. help me pls..

I can see all the formats. but I can not doc, ppt.

I get the error:
PDF.js v1.7.225 (build: 17d135f)
Message: Invalid PDF structure

![image](https://user-images.githubusercontent.com/10602986/60216670-4e3d4080-9830-11e9-9219-9ff0731eb5b6.png)

[2019-06-26 21:37] jr1003 commented on #97
I try in command line:

unoconv --format=pdf saa.docx.

I get pdf, so unoconv is fine

[2019-06-26 22:40] keshrath commented on #97
Odoo version 11.0?

[2019-06-26 22:57] jr1003 commented on #97
@keshrath  yes odoo version 11.0

[2019-06-27 08:20] Kerrim- commented on #97
Hi can you try a different browser and report if both have the same issue and which browser you are testing with.

[2019-07-01 12:22] katyukha opened #98 "[11.0][BUG] muk_web_export have to be update to be compatible with last changes in muk_converter"
When i tried to install muk_web_export i got following traceback:

[code]

[2019-07-02 09:09] Saleh2014 opened #99 "Arabic characters not appear correctly like Latin characters"
Hello,

Your MuK Backend Theme Looks Fantastic! Our language is Arabic and in your theme you are using Roboto fonts. We see the font in Arabic very small and not have the appearance like Latin characters. It's possible to change the font type or size in your theme. Please see the attached files.

Thanks...
![Capture](https://user-images.githubusercontent.com/35451579/60499882-f97f4700-9cc1-11e9-8e

[2019-07-02 11:25] keshrath commented on #99
https://github.com/muk-it/muk_web/commit/ac51cfdf5eea490fc21a3271a1a003440885e293

[2019-07-02 18:08] #99 closed, assigned to keshrath

[2019-07-02 21:11] gregory-moka opened #100 "Debranding > Rename OdooBot"
Hello,
It would be a nice feature to rename the "OdooBot". Everyone using the debranding features should want to rename its bot as he want.
Is it possible to put a new setting on branding app (at the same place as the system names) to give a nice name to the bot (and all what he says) ?
Thanks

[2019-07-02 23:45] keshrath commented on #100
https://github.com/muk-it/muk_misc/commit/ddad83f1aa01d40f9779c6d86589b7a98d562ca5

[2019-07-02 23:45] #100 closed, assigned to keshrath

[2019-07-03 07:21] keshrath commented on #99
Before:
![image](https://user-images.githubusercontent.com/4851083/60571434-e9c03b00-9d73-11e9-814b-3f8920c7d98f.png)
After:
![image](https://user-images.githubusercontent.com/4851083/60571468-f93f8400-9d73-11e9-947b-763296863cb9.png)

[2019-07-03 12:56] #98 closed, assigned to nobody

[2019-07-03 12:57] keshrath commented on #97
I'm closing this ticket because there hasn't been a new response in a week.

[2019-07-03 12:57] #97 closed, assigned to Kerrim-

[2019-07-04 09:20] mojtabaakbarpour opened #102 "[12.0] [muk_web_theme] Project Module Problem in Persian Language"
![Screenshot from 2019-07-04 13-45-25](https://user-images.githubusercontent.com/36371067/60655233-a85a8900-9e62-11e9-9ed7-50e560cfc08c.png)

and

![Screenshot from 2019-07-04 13-45-34](https://user-images.githubusercontent.com/36371067/60655234-a85a8900-9e62-11e9-9c90-3b2c85321f49.png)

[2019-07-04 09:21] keshrath commented on #102
What is the problem?

[2019-07-04 09:42] mojtabaakbarpour commented on #102
Load more text put on project item
Dont switch between tabs
And when click more than 3 on tab the text put together

[2019-07-04 10:30] keshrath commented on #102
Is this a language problem or does ist happen with any language?

[2019-07-04 10:32] mojtabaakbarpour commented on #102
Its language problem

[2019-07-05 17:17] edoubleoo opened #103 "Muk preview js & thumbnail error (Odoo 11)"
Having installed Muk documents successfully on to our Odoo 11 CE, I wanted to add all of the additional preview functionality.

Disclaimer: I downloaded each preview app from the Odoo app store, but as we had already installed the muk_web_preview and muk_web_utils from the muk_dm_11. So I only installed the actual preview function only from each type - just in case this is part of the issue.

I no

[2019-07-06 19:58] Fadouchi opened #104 "[12.0] Back-end theme display error in mutli companies"
I've installed the Back-end theme in two servers and I get the same display errors.

For example : in class **dropdown-menu show**, there's a background URL called by company ID "company_id.background_image" when I tried to access background image with /web/image?model=res.company&**id=1**&field=background_image I can see the background,

Company with ID = 1 ...

![image](https://user-images.githu

[2019-07-08 13:37] Kerrim- commented on #103
Hi, please open seperate tickets for seperate issues.

Regarding wand. You have to do a pip3 install Wand in your container. You automate that by inheriting the dockerfile and adding a run layer with this command or with a start script inside your container.

Regarding your secound issue can you provide a link to mentioned corrections in odoo 12.

Regards,
Kerrim

[2019-07-09 13:10] ivbo opened #105 "Can`t preview Office documents - Invalid PDF structure error"
hi,

I can't  see office formats  with odoo 11:  doc, docx, pptx  on ubuntu 18.04

I get the error:
PDF.js v1.7.225 (build: 17d135f)
Message: Invalid PDF structure

unoconv from command line is working (converts to readable pdf).

regarding to   https://github.com/muk-it/muk_web/issues/97   I tried   many browser (Safari, Firefox? chrome)  with same error result.

[2019-07-13 00:41] jiangweiatgithub opened #107 "Cannot preview DOCX documents"
Hi,

It seems that I have always had problems previewing DOCX files. In the preview window pane, I see the following message for a while:
_Extracting your files...
Retrieving your file from the homepage on the Internet, please wait_
And then I get this message:
_An error occurred
We're sorry, but for some reason we can't open this for you.
Learn more_
When I click "Learn More", I will be forwarded

[2019-07-13 03:39] wealthyp opened #108 "web branding color picker issue"
Hello, Thank you for the work making these useful modules.
I have installed the muk web branding but the color picker is inactive. ie, I can not be able to choose color from the picker. Can you help me on this. Thanks.
![Capture](https://user-images.githubusercontent.com/12605311/61166659-05bc9d00-a529-11e9-832e-219c51f192f2.PNG)

[2019-07-13 05:03] spacimek commented on #104
There are other consequences to this one... which are even more serious:
1) It is not possible to add a new background to the other company (even with "super-admin" I get: _Access Denied by record rules for operation: write on record ids: [1], uid: 7, model: res.users_
2) And as a consequence some other Settings updates are not possible - like Fiscal Localization etc. Simply because:
_The followin

[2019-07-13 10:30] keshrath commented on #107
https://github.com/muk-it/muk_web/issues/90

[2019-07-13 10:31] keshrath commented on #108
Take a look at the browser console: Any error?

[2019-07-13 12:45] keshrath commented on #104
I'm not able to reproduce that error.

Company - 1

![image](https://user-images.githubusercontent.com/4851083/61171787-9cff1000-a57c-11e9-868c-6747bbbd77ca.png)
![image](https://user-images.githubusercontent.com/4851083/61171788-a2f4f100-a57c-11e9-88b5-40f99450446c.png)

Company - 2

![image](https://user-images.githubusercontent.com/4851083/61171793-aab49580-a57c-11e9-9641-5be0926c1f6b.png)
![im

[2019-07-13 20:13] keshrath commented on #102
Can you reproduce the same error without a theme? I don't think this has anything to do with the theme but is an Odoo bug.

[2019-07-13 20:35] Kerrim- commented on #105
Hi,

I just updated following modules:

muk_web_utils
muk_converter
muk_web_preview_msoffice

Can you update them on your machine and try again.

Regards,
Kerrim

[2019-07-13 21:43] wealthyp commented on #108
There is no error message displayed

[2019-07-13 22:03] keshrath commented on #108
I'm not sure how I can help you then.

[2019-07-13 22:08] wealthyp commented on #108
Is the any chronological order of installation. I mean, is there a module that I must install first before the order. I installed the muk web branding first and the order dependence were installed automatically.

[2019-07-13 22:10] keshrath commented on #108
To me it looks like Odoo has no access to the files.

[2019-07-13 22:12] wealthyp commented on #108
OK. how do I give odoo access to the file. I am newbie here. Thank you.

[2019-07-13 22:20] keshrath commented on #108
Well, as you would otherwise set the permissions of a file or folder under Linux. But this is not really a question which is related to this module. That's just a guess from me because this image is not displayed and that's usually because Odoo has no rights on this file. But I am very surprised that there is no message in the browser console. I can't help you without more information I'm afraid.

[2019-07-13 22:22] #108 closed, assigned to keshrath

[2019-07-13 22:42] wealthyp commented on #108
Hello,

I uninstalled and try to reinstall then this error

"Odoo Server Error
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  F

[2019-07-13 22:45] keshrath commented on #108
File not found: muk_branding/views/res_config_settings_view.xml

[2019-07-14 01:48] wealthyp commented on #108
I like your module but it seems not working well here. And you seems to be in a hurry to close the issue I raised. Every other custom module is working here but this.

[2019-07-14 04:34] mojtabaakbarpour commented on #102
yes, it's odoo bug

[2019-07-14 09:03] keshrath commented on #108
The problem is that you don't really provide useful information about this issue to do anything about it. And I can't reproduce this problem, so I have to assume that the problem is somewhere in your configuration.

[2019-07-14 09:04] #102 closed, assigned to keshrath

[2019-07-14 10:01] keshrath commented on #108
If I get more information and it is really a bug or if I can reproduce this problem I will gladly open the ticket again.

[2019-07-15 09:08] ivbo commented on #105
hi,

after update everything works well.

 thank you for your help.

Regards,
ivbo

[2019-07-15 09:08] #105 closed, assigned to Kerrim-

[2019-07-15 11:09] alorence opened #109 "Bad rendering of chatter sidebar with french locale"
On the right side of invoices views, chatter is correctly rendered on your demo website:
![opera_2019-07-15_13-02-41](https://user-images.githubusercontent.com/1702273/61211991-3fe09700-a701-11e9-828c-870be1bc23bd.png)

But on my own instance, with french translation enabled, buttons for New message, New note and Schedule activity take too much space. As a result, the whole block is inconsistently

[2019-07-15 11:14] keshrath commented on #109
![image](https://user-images.githubusercontent.com/4851083/61212348-4ae7f700-a702-11e9-8723-5712a241f89a.png)

I think some module is not up to date (muk_web_theme / muk_web_theme_mail)

[2019-07-15 12:34] alorence commented on #109
You are right. My modules were correctly up-to-date, but muk_web_theme_mail was not installed. The chatter now displays correctly. Thanks.

I was not aware that muk_web_theme had other dependencies than muk_utils, muk_autovacuum and muk_web_utils. Should I install other modules in order to ensure everything works as expected ?

[2019-07-15 12:44] keshrath commented on #109
The mail module is not a dependency but an extension.

[2019-07-15 12:44] #109 closed, assigned to keshrath

[2019-07-16 15:22] #107 closed, assigned to keshrath

[2019-07-16 15:23] #104 closed, assigned to keshrath

[2019-07-19 11:51] kh-badep opened #110 "Title css overrides width of kanban_state widget"
https://github.com/muk-it/muk_web/blob/864ea3c3f598627bdbef20b39c7988a015ebf5c5/muk_web_theme/static/src/scss/form_view.scss#L53

There is a css style that I think is intended to change the display of form title but unfortunately ends up overriding the css of kanban_state buttons in some cases: For example in the task form view, the kanban_state button becomes invisible. Thi s is due to the fact t

[2019-07-19 12:29] keshrath commented on #110
can you point me to a view where this happens? or make a screenshot?

[2019-07-20 12:20] mojtabaakbarpour opened #111 "[12.0] [muk_web_theme] User Mentions Style Problme"
![Screenshot from 2019-07-20 16-47-58](https://user-images.githubusercontent.com/36371067/61578561-642be180-ab0e-11e9-99c9-b21a21f2ac32.png)
 mention section go behind tab and header

[2019-07-20 15:13] kh-badep commented on #110
The task form view is a good example:
![Capture d’écran_2019-07-20_16-10-07](https://user-images.githubusercontent.com/12763123/61580341-fb8e3600-ab08-11e9-8714-bb4a0630058a.png)

[2019-07-21 18:09] movahhed opened #112 "Error style please help me. Odoo 12 , Ubuntu 18 04"
Style error×

The style compilation failed, see the error below. Your recent actions may be the cause, please try reverting the changes you made.

The "--no-js" argument is deprecated, as inline JavaScript is disabled by default. Use "--js" to enable inline JavaScript (not recommended). NameError: variable @gray-lighter-darker is undefined in - on line 65, column 29: 64 		.nav-tabs { 65 			border-

[2019-07-22 02:18] wealthyp commented on #108
I gave this module a try again and got this very error "Error:
Error: QWeb2: Template 'muk_web_utils.FieldColor' not found

http://35.171.17.190:8069/web/content/269-956c982/web.assets_common.js:3374
Traceback:
exception@http://35.171.17.190:8069/web/content/269-956c982/web.assets_common.js:3374:7
_render@http://35.171.17.190:8069/web/content/269-956c982/web.assets_common.js:3419:103
render@http:/

[2019-07-22 02:19] wealthyp commented on #108
It is a fresh installation, no other module installed yet. The error show when I click on general setting and prevent me from configuring the system.

[2019-07-22 17:36] keshrath commented on #108
Restart the server and update muk_web_utils

[2019-07-22 17:47] keshrath commented on #112
This is caused by?

[2019-07-22 18:16] movahhed commented on #112
I don't know. After install muk module include muk document. Muk web style. Muk preview....
Please you try

Openssh: l.p. & port : 94.183.182.20:26
User: hoorab_admin
Pass: 37501601

Admin odoo user : hoorabeng@gmail.com pass: em37505644   http://94.183.182.20:8069
Dear Mathias Markl please help me brother!

[2019-07-23 10:45] peterchibunna commented on #112
@movahhed Try and restart the odoo service. Then clear browser caches and then try again. Make sure files for all installed modules are available on the server.

[2019-07-23 17:35] wealthyp commented on #108
Thank you for this nice module and your help. It works now.

[2019-07-23 18:11] gregory-moka opened #113 "Theme customisation > unable to save new color"
When I'm trying to change the default website theme colors, the color picker does'n want to save the new value.

Here is the video capture :
https://recordit.co/NL8XQCqSYU

You tried to solve this question in this ticket : https://github.com/muk-it/muk_web/issues/55

[2019-07-23 18:40] keshrath commented on #113
I need more Informationen. Which module is the reason? The color picker of the Website is a Odoo core feature.

[2019-07-25 06:31] keshrath commented on #111
https://github.com/muk-it/muk_web/commit/0952e3c144e8abb90c481d7683ce640341bc930c

[2019-07-25 06:31] #111 closed, assigned to keshrath

[2019-07-25 07:01] keshrath commented on #112
muk_web_share is not compatible with odoo 12. But you seem to have figured that out already at least I don't get any more errors when I log in to your instance.

[2019-07-25 07:01] #112 closed, assigned to keshrath

[2019-07-25 07:02] keshrath commented on #110
https://github.com/muk-it/muk_web/commit/1a3e1f764d5abf21f465f5fcd63d674fe59b8b17

[2019-07-25 07:02] #110 closed, assigned to keshrath

[2019-07-25 07:51] gregory-moka commented on #113
I'm exploring the odoo side.
https://github.com/odoo/odoo/issues/35168

I'll keep you in touch.

[2019-07-29 11:14] anhvu-sg opened #114 "[12.0] Muk Web Theme: Failed to load resource: the server responded with a status of 404 (NOT FOUND) ... Noto-Regular.woff"
I got a lot of javascript error every time the page was loaded:
`Failed to load resource: the server responded with a status of 404 (NOT FOUND)`
It seems Noto-Regular.woff, Noto-Regular.ttf, and some other fonts are not loaded correctly.

![image](https://user-images.githubusercontent.com/7898318/62044291-b961a480-b22c-11e9-9091-71ecfe79ef3d.png)

[2019-07-30 03:08] anhvu-sg commented on #114
Hi @keshrath, there is a new PR here  #115
Could you please help me to review?
Many thanks

[2019-07-30 21:39] keshrath commented on #114
Close since PR exists

[2019-07-30 21:39] #114 closed, assigned to keshrath

[2019-08-01 06:07] cazarawill opened #116 "2 Serch menu after install"
Hi,
I got 2 search menus at my "main" dashboard after installing the theme.
<img width="1087" alt="image" src="https://user-images.githubusercontent.com/28250776/62269384-7fc7ae00-b465-11e9-9102-986d4226f38b.png">

any idea of how to remove one of them?

Thanks.

[2019-08-01 10:52] keshrath commented on #116
Can you reproduce the error on our demo? demo12.mukit.at

[2019-08-01 16:13] cazarawill commented on #116
hi,
no, on your demo I can't see the double search.

So I had a clean installation of Odoo
I uploaded the files to my server using Filezilla, restarted, updated the apps list,  and installed the modules.

and on my server, just one of those search menu works,
is there any way to disable(hide) that search menu? because I am not going to really use it.

Thanks.

[2019-08-01 16:29] keshrath commented on #116
You can change your local code to disable it. But if it is not a reproducable issue I have to close the ticket.

[2019-08-01 16:29] #116 closed, assigned to keshrath

[2019-08-04 19:08] arnaldoperez commented on #44
Just to be clear, you should restart the machine and not only the web server (apahe in my case)....
Worked fine after restarting

[2019-08-08 20:50] #113 closed, assigned to keshrath

[2019-08-09 09:21] MathAndrews opened #117 "[11.0][muk_web] IE javascript compatibility"
Hi,

I use muk_web_utils but in IE11 I have a issue with the file `muk_web_utils/static/src/js/underscore.js` where you use function default parameters.
Sadly it's not supported by IE: [MDN web docs - Default parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters#Browser_compatibility)

What is your web navigator support policy?

I change the `un

[2019-08-09 09:27] keshrath commented on #117
https://github.com/muk-it/muk_web/commit/dbdffde15201920fa95b49adea57bb375e7c6f62

[2019-08-09 09:27] #117 closed, assigned to keshrath

[2019-08-09 09:56] MathAndrews commented on #117
Great,

Thanks.

[2019-08-09 16:55] Fadouchi opened #118 "Cannot read property 'detach' of undefined"
Cannot Open/Modify or save any file ! and lately i get this error but when I switch companies or change to superuser mode all works normal !

Uncaught TypeError: Cannot read property 'detach' of undefined
https://www.mydomain.com/web/content/101725-51e6e39/web.assets_backend.js:2832
Retraçage :
TypeError: Cannot read property 'detach' of undefined
    at Class.update (https://www.mydomain.com/web/

[2019-08-09 17:05] keshrath commented on #118
Please report JS errors while in debug mode with assets. Which module causes this error and on which Odoo version?

[2019-08-09 17:33] Fadouchi commented on #118
Hello,

It takes some times and my PC freeze until the JS report finish i'll update you.

Here's some other infos :

Odoo 12.0-20190128 (Community Edition)
MuK Utils : 12.0.1.6.27
MuK Autovacuum : 12.0.2.1.14
MuK Backend Theme : 12.0.1.6.4
MuK Web Utils : 12.0.2.9.7

[2019-08-09 21:16] Fadouchi commented on #118
Hello,

Finally the JS report test is finished, I am not familiar with that and I am not sure how to transfer the data that I got, but I did my best to at least show you the error that I've got.

All data : https://i.imgur.com/darx8gO.png
for MuK modules :  https://i.imgur.com/tUG2azd.png and https://i.imgur.com/UgG7rFo.png

One point I forgot to mention, is Odoo is hosted on docker container.

[2019-08-09 21:20] keshrath commented on #118
**Debug with assets mode (most of the time used by developers)** It enables all features from normal debug plus some extra. Odoo internally use assets bundles to improve performance which internal merge+minifies all static assets like css and JavaScript. So debug with assets will use actual css and javascript files instead of minifying/merging css and js files. This mode will reduce performance bu

[2019-08-09 21:41] Fadouchi commented on #118
Hello,

That's What I did, I activated the debug with assets and run JS report ... and here's the results

All data : https://i.imgur.com/darx8gO.png
for MuK modules : https://i.imgur.com/tUG2azd.png and https://i.imgur.com/UgG7rFo.png

[2019-08-09 21:46] keshrath commented on #118
Ok now I see what you did: I mean first of all thx for the feedback there is an error in one of the test files. But I don't think its the same error as described on your first post. You don't need to run the JS tests. Just do the same steps and try to reproduce the error by trying to save a file. Since you are in debug mode the console output should be more clear as it will show the correct JS fil

[2019-08-09 21:54] Fadouchi commented on #118
I am sorry If I coud not understand some point ... but here's what I did ..

First, activate debug mode with assets
seconde, go to some PO on Odoo and try to open, then modify and here's the error !

Erreur:
Uncaught TypeError: Cannot read property 'detach' of undefined

https://www.dislot.com/mail/static/src/js/chatter.js:130
Retraçage :
TypeError: Cannot read property 'detach' of undefined
    a

[2019-08-09 21:56] keshrath commented on #118
Ok great :)

However, i don't see any reference to one of our modules. so i don't think the error is there.

[2019-08-09 21:58] Fadouchi commented on #118
I thought for a second the MuK module is doing something wrong,

I cannot understand why this problem is present as I have an older backup and all is running smoothly,

Thanks for your time :)

[2019-08-09 22:03] #118 closed, assigned to keshrath

[2019-08-11 03:15] jerry79 opened #119 "[muk_web_theme,12.0.2.0.3] Contacts kanban view issue"
when I update web_theme to 12.0.2.0.3, the contacts and products kanban changed like below picture. the picure and words can not inline.
pls help. thank you very much.
![image](https://user-images.githubusercontent.com/2713806/62829108-1300a080-bc29-11e9-9594-0e3f5d8083e3.png)
![image](https://user-images.githubusercontent.com/2713806/62829113-1dbb3580-bc29-11e9-917b-d7e301e29783.png)

[2019-08-11 12:18] spacimek opened #120 "[IMP][12.0][muk_web_searchpanel] Proper example"
Great job, guys! It's nice to have it ported to v12. And thanks for description of the options!

This is just a note on given example - I know it's just an example, but it might be easier for other people to take it as such and place to kanban view. If you've meant your example for Employees (hr), then this would be working one (using parent_id, not manager_id + making sure that people in the filt

[2019-08-11 14:24] spacimek commented on #92
FYI, if you're interested, Odoo has already moved it out of kanban into search in v13, so it's available for all multi record views.

See: https://github.com/odoo/odoo/commit/dd7022eccd99b5ba9688f63b517d23c405f23797

[2019-08-11 20:36] keshrath commented on #119
https://github.com/muk-it/muk_web/commit/747ebf8f71a188eca25628ef4e5e5c06d0d89b87

[2019-08-11 20:36] #119 closed, assigned to keshrath

[2019-08-11 20:36] #103 closed, assigned to Kerrim-

[2019-08-19 12:01] jeanpaulrobineau opened #121 "12.0 IE incompatibility binary.js"
Hello,

I get a syntax error in IE browser on file /src/js/fields/binary.js
On line 72

kind regards

[2019-08-19 12:31] jeanpaulrobineau commented on #121
Dear,
We found the problem, it's the , on line 71 which gives the issue, once removed it works fine
kind regards

[2019-08-19 12:34] keshrath commented on #121
https://github.com/muk-it/muk_web/blob/12.0/muk_web_utils/static/src/js/fields/binary.js#L71

This is not something I can just remove. Why doesn't it work on IE it's ES5 compatile or not?

[2019-08-19 12:49] jeanpaulrobineau commented on #121
its the "," on line 74 in your code

this.formatOptions,
should be
this.formatOptions

without the , at the end

[2019-08-19 13:54] keshrath commented on #121
https://github.com/muk-it/muk_web/commit/131de8da5bf55bb3d58988a634bc55ea6497a3cd

[2019-08-19 13:54] #121 closed, assigned to keshrath

[2019-08-28 12:54] gregory-moka opened #123 "Brand color in Mass Mailing"
Hello,
I'm not sure, but, is there a way to use defined brand colors in the mass mailing editor ?

[2019-08-30 09:15] Fadouchi opened #124 "Issue : style compilation failed when creating a new website"
Hello MUK Team,

Recently, I tried to create a new website for a multi company Odoo instance with multi websites. But when the website was created I got the following error

The style compilation failed, see the error below. Your recent actions may be the cause, please try reverting the changes you made.

![Screenshot_107](https://user-images.githubusercontent.com/10654570/64009040-0b893480-cb0f-1

[2019-09-03 15:13] MathAndrews commented on #117
Hi,

I just notify that there are two "undescore" (`__.mixin({`) on line 20 of the file muk_web/muk_web_utils/static/src/js/underscore.js.

It should be `_.mixin({`

best regards

[2019-09-09 16:03] Fadouchi commented on #124
Hello,

It's been 10 days since I've opened this ticket ... is there any solution to this issues or I need to wait more ?

[2019-09-09 18:24] keshrath commented on #124
I am not able to reproduce this behavior on our demo. Even with multi company and multiple website the css loads just fine. What steps are necessary to get this error?

Tickets to our open source apps are processed with our best effort. But keep in mind that you use our open source apps for free and it won't help anyone if you get upset when it takes longer to process a ticket.

[2019-09-09 19:02] Fadouchi commented on #124
I am not upset ... at all ! I just want a follow-up if I could help you. Thank you for your feedback.

Is there any harm if I uninstall and re-install again this module to check if the problem still present ?

[2019-09-09 19:05] keshrath commented on #124
In general you should be able to install or uninstall all modules. Of course you may lose data when uninstalling.

[2019-09-10 05:36] ghost opened #125 "Not able to play video Mp4 format"
I have installed MUK video app with required dependency.
I am using binary field to upload video(Mp4).  After uploading the same. I am not able to play the video.
The pop-up shows unsupported video format.

![image](https://user-images.githubusercontent.com/55125288/64586757-ea500000-d3ba-11e9-9c53-f13ee938d84b.png)

[2019-09-10 05:42] ghost commented on #125
I am using odoo 11

[2019-09-10 07:20] MathAndrews opened #126 "[11.0][muk_web] Error in the file underscore.js"
Hi,

I just notify that there are two "undescore" `__.mixin({` on line 20 of the file muk_web/muk_web_utils/static/src/js/underscore.js.

It should be `_.mixin({`

best regards

[2019-09-10 07:33] keshrath commented on #126
Thx https://github.com/muk-it/muk_web/commit/afb61497fbf27533dcbe30b4477431e8782b4c4b

[2019-09-10 07:33] #126 closed, assigned to nobody

[2019-09-11 11:38] kh-badep opened #127 "[12.0][muk_web_theme] margin-right in module icon adds an ellipsis next to it"
There seems to be an issue with app sidebar when sidebar_type = 'small'. The browser adds an ellipsis next to the image:
![image](https://user-images.githubusercontent.com/12763123/64694145-f1e1d880-d490-11e9-8cb0-98891239c625.png)

Removing margin-right seems to resolve the issue:
https://github.com/muk-it/muk_web/blob/5a568ced512eb381ef98f3ae0cdd9b5039688516/muk_web_theme/static/src/scss/appsbar

[2019-09-11 18:00] keshrath commented on #127
Does not seem to be the case in our demo: demo12.mukit.at

[2019-09-12 07:00] ghost commented on #125
Any help is appreciated

[2019-09-12 07:56] #125 closed, assigned to nobody

[2019-09-13 06:53] alorence commented on #124
@Fadouchi I had the same issue last days. I always had an error `Could not get content for /muk_web_theme/static/src/scss/XXX.scss defined in bundle 'some.bundle'.` I finally found myself that the method I used to setup addons in my docker environment was incorrect. I performed a simple ansible copy when I should have used the synchronize module, to use rsync.

As a result, addon dirs were missing

[2019-09-16 11:15] cierek opened #128 "MuK Bank Statement Import - Internal Server Error after installation"
Hi, I tried to use the module but got some problems after installation.
Module:
muk_account_bank_statement_import_sheet
Version:
12.0C

After installation Odoo crashes.
Log:
odoo.sql_db: bad query: b'SELECT "ir_attachment"."id" as "id","ir_attachment"."name" as "name","ir_attachment"."de$
ERROR: column ir_attachment.temporary does not exist
LINE 1: ...d" as "website_id","ir_attachment"."url" as "u

[2019-09-20 18:36] keshrath commented on #127
https://github.com/muk-it/muk_web/commit/2ca1f87b3a4f1dc8b5c2866b94f15a8d22c35e69

[2019-09-20 18:36] #127 closed, assigned to keshrath

[2019-09-20 21:30] #124 closed, assigned to keshrath

[2019-09-20 21:31] keshrath commented on #128
Seems to me that your muk_web_utils module isn't up to date.

[2019-09-29 11:16] farzeni commented on #116
I had the same problem

Removing web_responsive addon from OCA solved the issue

[2019-10-02 16:31] unproZhai opened #129 "My sidebar only shows the app icons, how can I make it show the icons and names?"
<img width="207" alt="Screen Shot 2019-10-02 at 12 30 17" src="https://user-images.githubusercontent.com/42622194/66062956-664bec80-e510-11e9-80b5-7f1db5a3b2e3.png">
My sidebar only shows the app icons, how can I set up to show the icons and names together like the image in your description?

[2019-10-02 17:33] keshrath commented on #129
Every user can set this option in their preferences.

[2019-10-02 19:00] unproZhai commented on #129
Problem solved! Thank you so much!

[2019-10-02 19:00] #129 closed, assigned to keshrath

[2019-10-04 09:39] NIKULAHIR commented on #44
@ ##[ ] 1. ****-** [ ] ih basbdajs**
[ ] 2. h
[ ] 3. 1. cdbsc zcnbzxnb
Duplicate of #
[ ] 4. snjnskndksankdas

-

[2019-10-04 09:40] NIKULAHIR commented on #44
heving same issuse when  render  with qweb in js

[2019-10-04 09:45] NIKULAHIR commented on #74
any solvutuon for this

[2019-10-09 08:16] AEK-BKF opened #130 "Odoo 13"
Hi,
What about Odoo 13 version ?
Thanks

[2019-10-11 04:16] sm2x opened #131 "muk_web_searchpanel backport to Odoo 11"
is this possible, please advise

[2019-10-22 08:47] caretit commented on #40
cssddsd

[2019-10-27 14:36] klystronglobal commented on #90
@keshrath Kindly give a suggestion, is it possible to add local variant option in version 12 same as version 11.
Am using ubuntu server and mostly upload the file from local pc folder, its not working in the server too.

[2019-10-27 19:23] keshrath opened #132 "Web Utils: Dropzone CSS"
The CSS for the dropzone doesn't seem to be loaded. It works on my local machine but not on the demo of version 12.0.

Video: https://imgur.com/QGxokIg

[2019-10-29 12:33] gallex93 opened #133 "App Dashboard after the login"
Hi,
Is It possible to add automatically the dashboard with all the app after the login? I tried with Menu Items and so on but it doesn't work. Any suggest?
Have a nice day,
Mike

[2019-10-29 13:16] keshrath commented on #133
This won't work without some Javascript development. You would need some kind of action which can be triggered at the login.

[2019-10-29 13:16] #133 closed, assigned to keshrath

[2019-10-29 14:17] gallex93 commented on #133
Can you suggest me something?

[2019-10-29 14:44] keshrath commented on #133
Might be a start even though the are not very up to date:
https://www.odoo.com/documentation/12.0/reference/actions.html#client-actions-ir-actions-client
https://www.odoo.com/documentation/12.0/howtos/web.html

[2019-10-29 14:46] keshrath commented on #130
Migration to Odoo 13.0 will be done at least for a part of our apps. But it can take a while, since version 13.0 still doesn't seem to be very stable so we do not recommend it to your customers yet. This will of course change it the next months.

[2019-10-29 15:07] #130 closed, assigned to nobody

[2019-10-30 11:14] jagarciavi opened #134 "[12.0] [muk_web_theme] Dropdown in project tasks not showing correctly"
Hi,

I have a problem showing the dropdown in the projects' tasks.

![DropdownTheme](https://user-images.githubusercontent.com/1713002/67853324-9afe9400-fb0e-11e9-9465-f8fcaf218300.PNG)

In the predefined theme in Odoo is showing correctly.

![ProyectTasks](https://user-images.githubusercontent.com/1713002/67853432-d731f480-fb0e-11e9-9432-16f9a2a6a693.PNG)

Thanks.

[2019-11-04 03:51] gitlcp opened #135 "【12.0】Can`t preview * .doc 、*.jpg"

[2019-11-04 03:59] gitlcp commented on #135
I installed muk_web_preview_msoffice .
![TIM图片20191104115556](https://user-images.githubusercontent.com/34472501/68098850-16d75280-fefa-11e9-962c-a585db79114f.png)
Then get the picture below
![TIM图片20191104115648](https://user-images.githubusercontent.com/34472501/68098871-3a020200-fefa-11e9-816a-7894f9504eb5.png)

[2019-11-04 05:48] keshrath commented on #135
Have you installed the right preview modules for image and doc?

[2019-11-04 06:09] gitlcp commented on #135
**This is the module I installed. I can preview image,but can not preview doc.**

**Did I miss the module that I need to install for doc?thank you  ** @keshrath

![TIM图片20191104142030](https://user-images.githubusercontent.com/34472501/68102567-4728ec00-ff0e-11e9-84d1-5f1c087ab781.png)
**What is the problem？**
![TIM图片20191104141335](https://user-images.githubusercontent.com/34472501/68102662-af77c

[2019-11-04 06:14] gitlcp commented on #135
this is why
![TIM图片20191104141335](https://user-images.githubusercontent.com/34472501/68102370-4e9bc580-ff0d-11e9-8202-2a8a57de93c2.png)

[2019-11-04 07:03] Kerrim- commented on #135
Hi,

Can you try it with a file with a name in latin characters? (Just to rule this out)

Do you get any error in your browser console?

[2019-11-04 07:51] gitlcp commented on #135
nothing error in my browser console@Kerrim-
![TIM图片20191104155110](https://user-images.githubusercontent.com/34472501/68105922-f2d83900-ff1a-11e9-9c7d-b31ed0596e4e.png)

[2019-11-04 09:27] gitlcp commented on #135
I  find the save problem in the [https://demo.mukit.at/](https://demo.mukit.at/)
![TIM图片20191104172410](https://user-images.githubusercontent.com/34472501/68110431-eefee380-ff27-11e9-8191-c6e536784c7f.png)

[2019-11-04 10:25] keshrath commented on #135
Yes this happens if the mimetype of the file is not correct

[2019-11-04 11:14] Kerrim- commented on #135
now that is weird, that is the same file:
![image](https://user-images.githubusercontent.com/2980463/68117031-923a0380-fefc-11e9-9b7e-353a56f1ba59.png)

[2019-11-13 05:55] sspankaj commented on #135
getting same error .
![error_same](https://user-images.githubusercontent.com/29782180/68737049-54c62c00-0608-11ea-8422-0dfc477632ab.png)

[2019-11-13 05:57] sspankaj commented on #135
getting same error .
![same_rror](https://user-images.githubusercontent.com/29782180/68737118-88a15180-0608-11ea-85f9-9cce9b2c0096.png)

[2019-11-19 08:53] mtzvetkof commented on #135
Same error for me as well, on all MS documents.
https://prnt.sc/pyxr2i
https://prnt.sc/pyy20n
https://prnt.sc/pyy2as

[2019-11-19 11:46] mtzvetkof opened #136 "MuK dms view with multicompany option, issue"
Hello,
odoo12 CE clean install, no demo data.
**Multicompany** option activated.
MuK dms installed. Administrator **can** create new companies. Admin can create new users.
Muk dms view installed. Administrator **can not** create new companies. Administrator can create new users. See picture attached with Odoo server error.
![muk_dms_view_issue](https://user-images.githubusercontent.com/52194260/69

[2019-11-24 13:26] boskowski opened #137 "Custom favicon requires undeclared dependency to muk_saas_branding"
`muk_web/muk_web_branding/template/layout.xml` sets a route to `web/binary/company_favicon` to get the favicon image, but the controller is implemented in `muk_saas_branding`, which is not declared as dependency.

[2019-11-25 16:22] rossanacammardella opened #138 "web_client_refresh for graph and pivot"
How can we use this module also for refresh of graph and pivot?

[2019-11-28 06:21] sputy101 opened #139 "muk_web_client_refresh for Odoo v10 Fails to Refresh after Server system restart"
  | muk_web_client_refresh
-- | --
This module for odoo v10 works fine after installation but failed to work after restarting the server system.
Please could someone look into it?
Thanks in advance.

[2019-12-10 05:59] TeleNocPak commented on #43
dear sir,
i am facing one issue on muk-web theme when i click on any place on desktop without any app it return previous opened app . and even if i click on menu button desktop show but on top on desktop menu bar show of previous open app. how to fix it

[2019-12-16 21:05] #139 closed, assigned to nobody

[2019-12-16 21:06] keshrath commented on #139
Like Odoo itself we only support the last 3 versions of Odoo. If this error also occurs on newer versions, please create a ticket with more information - like an error log or a video - so that the error is reproducible.

[2019-12-18 08:56] pradhanashwin opened #140 "Domain and invisible using context_get does not work in search pannel"
I am trying to show directory of specific model in search panel. I tried adding domain in the search panel by using inherit in that specific model  but it doesn't work.
Plus using `attrs="{'invisible': [('patient_id', '=', context.get('default_res_id'))]}" ` doesnt work even if modifier for invisible in Fields View Get in debug is set to true

[2019-12-22 23:28] keshrath commented on #134
Seems to work in our Demo: https://demo12.mukit.at/

![image](https://user-images.githubusercontent.com/4851083/71328650-09624000-251b-11ea-8b05-3048e089640d.png)

[2019-12-22 23:28] #134 closed, assigned to keshrath

[2019-12-22 23:32] keshrath commented on #136
Cannot reproduce this error. Can you give me more information.

[2019-12-22 23:36] keshrath commented on #137
https://github.com/muk-it/muk_base/commit/0b276ab9992d13dc840ea60af327b31217354299

[2019-12-22 23:36] #137 closed, assigned to keshrath

[2019-12-22 23:37] keshrath commented on #138
Take a look at V12: https://github.com/muk-it/muk_web/blob/12.0/muk_web_client_refresh/static/src/js/client_refresh.js#L47

[2019-12-22 23:37] #138 closed, assigned to keshrath

[2019-12-22 23:40] keshrath commented on #140
The attribute `attrs` or `invisible` is not supported. But you can override those methods: https://github.com/muk-it/muk_web/blob/12.0/muk_web_searchpanel/models/base.py

[2019-12-22 23:40] #140 closed, assigned to keshrath

[2019-12-23 05:58] odoo-backend-dev opened #141 "Odoo13 Update"
Any Update for odoo13?

[2019-12-23 07:59] Kerrim- commented on #141
We are in the process of upgrading our modules but this will probably still take a month or two.

[2019-12-23 07:59] #141 closed, assigned to nobody

[2019-12-29 06:13] huahyong opened #142 "muk_web_client_refresh error on models with _log_access = False"
Tested version: 12.0

If the observerd model has
`_log_access = False `
(e.g. queue.job from OCA)   the fields create_date and write_date are missing therefore
methods  run_action_refresh_multi  and refresh_views fail.

[2020-01-02 11:55] mtzvetkof commented on #136
Hello and Happy New Year. Wish you all the best for 2020.
Now, what i did step by step to reproduce the error:
1. Fresh install of Odoo 12 CE / Debian 10
2. Create empty DB with only user Administrator (ID:2)
3. Login as Administrator
4. Install 1 native Odoo 12 app. - Invoicing (My Company is the default)
5. Now Settings - General Settings and check Multi-companies option
6. Uncheck "Common conta

[2020-01-06 19:13] keshrath commented on #142
https://github.com/muk-it/muk_web/commit/828631153fe8417e5b9f63f10de24ab5f310c6a4

[2020-01-06 19:13] #142 closed, assigned to keshrath

[2020-01-08 05:40] pradhanashwin opened #143 "User is not being able to print PDF from document preview from chrome"
I can print image from the document preview but there is no print button in the preview dialog. There is print button in firefox but not in chrome. when i tried ctrl+P in chrome, there is an error
![screenshot-localhost_8069-2020 01 08-11_23_21](https://user-images.githubusercontent.com/25637301/71953161-66434300-3209-11ea-9d3e-6609effeb642.png)
![screenshot-localhost_8069-2020 01 08-11_23_49](htt

[2020-01-23 11:22] hilarak opened #144 "DMS In ODOO 13?"
Hi MUK Team,
Are you guys planning to do DMS in ODOO V 13? @keshrath

[2020-01-27 14:43] pasgou opened #145 "After installing muk-web-them, unable to go to settings"
Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/odoo/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/home/odoo/odoo/odoo/tools/pycompat.py", line 87, i

[2020-01-28 07:24] boris005-crc opened #146 "Clicking on the icon doesn't get me to the app"
Hi,

When I'm clicking on the app icon on the dashboard, sometimes it doesn't get me to the app.
In fact the screen with all the app icons doesn't disappear, whereas the top bar with the app name is changing.
I have to click on the top '9 square' buttons to make the screen disappear and being in the app.
Can you try to help me ?

I'm on Safari, with Odoo 12.0-20191220 (Community Edition)
Thanks

[2020-01-31 06:04] pasgou opened #147 "Error when installing muk-web-theme and muk-utils"
Always the same Key Error, and the same as the one that appears with « res.config.settings.view.form »

Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/odoo/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(ty

[2020-01-31 10:25] pasgou commented on #145
After looking for the error in code, perhaps the ‘muk_utils.scss_editor’ module is not imported in code and could not be called.

[2020-01-31 12:23] pasgou commented on #145
I found the mistake : and don't know how muk_base was install in the version 13 on an odoo 12,
and it's impossible to réinstall in the db

[2020-02-10 06:08] odoo-backend-dev commented on #141
Hi
Whats up?

[2020-02-10 13:54] UBtrNvME commented on #135
Same thing, all other extensions work perfectly

[2020-02-22 01:42] composercodes opened #148 "Odoo 13"
Please when you can release muk for odoo 13

Thanks for your effort

[2020-03-08 13:34] composercodes opened #149 "what about v 13 please ?"

[2020-03-08 13:34] #148 closed, assigned to nobody

[2020-03-13 16:23] gacalixto opened #150 "Uncaught TypeError: this._summernoteManager.saveCroppedImages is not a function"
Hi!
When trying to create and save a new auomated refresh action, it shows this error:
`Uncaught TypeError: this._summernoteManager.saveCroppedImages is not a function
http://odoo.meucpd.com.br:8069/web/content/1340-437a76f/web.assets_backend.js:2427
Traceback:
TypeError: this._summernoteManager.saveCroppedImages is not a function
    at Class.commitChanges (http://odoo.meucpd.com.br:8069/web/cont

[2020-03-20 05:11] #145 closed, assigned to nobody

[2020-03-24 13:01] #150 closed, assigned to nobody

[2020-04-08 05:32] pradhanashwin commented on #143
@keshrath

[2020-04-08 07:24] keshrath commented on #143
Yes that is the pdf.js lib Odoo is using at the moment. Nothing I can do about that :/

[2020-04-08 07:24] #143 closed, assigned to nobody

[2020-04-13 17:24] alorence commented on #147
I had the same issue, and found that I was cloning directly muk_base and muk_web in my Dockerfile:

[code]
Unfortunately muk_base has started the migration to Odoo 13.0, and `13.0` branch is currently set as default on that repository.

I fixed by adding a reference to 12.0 branch on clone :

[code]

[2020-04-13 18:02] #147 closed, assigned to nobody

[2020-05-09 11:41] jlzhou commented on #92
@spacimek It may cause lots of modification and I guess it is hard to inject js and python code into odoo framework using addon mechanism.

[2020-05-10 17:34] RishabhJadia opened #152 "Muk theme in V13"
When You are planning to lunch muk_theme in v13.

Thanks,
Rishabh Jadia

[2020-05-12 18:32] yucer opened #153 "[12.0] muk_web_theme main menu's shortcut to web_timeline based view"
This might happen for 13.0 also.

If a models default view is **timeline** (from [OCA/web/web_timeline](https://github.com/OCA/web/tree/12.0/web_timeline))  then the icon in the main menu doesn't works for it.

In order to reproduce it just take one OCA module with timelines (like [fieldservice](https://github.com/OCA/field-service/tree/12.0/fieldservice)) or [project_timeline](https://github.com/

[2020-06-02 14:36] mileo opened #154 "muk_web_searchpanel help"
Hi Guys,

I'm trying to use muk_web_searchpanel at project kanban:

[code]

[code]
However I am not able to use the module. Am I doing something wrong?

Thanks in advance

[2020-06-02 15:54] mileo commented on #154
[code]

Changes must be done at kanban view not filter.

[2020-06-02 15:54] #154 closed, assigned to nobody

[2020-06-04 15:39] boris005-crc commented on #146
Up :)

[2020-06-11 09:48] cirincb opened #156 "Default web_icon issue"
Inside apps.xml :

<templates id="template" xml:space="preserve">
    <t t-name="muk_web_theme.AppIcon">
        <t t-if="app.web_icon_data">
            <img class="o-app-icon" t-attf-src="data:image/png;base64,#{app.web_icon_data}"/>
        </t>
        <t t-else="">
            <img class="o-app-icon" t-attf-src="#{'default icon path here'}"/>
        </t>
        <span class="o-app-name">

[2020-06-11 10:04] keshrath commented on #156
?

[2020-06-11 15:12] cirincb commented on #156
![default_icon_issue](https://user-images.githubusercontent.com/59952859/84404131-15a29c80-ac24-11ea-8050-4187b5b5d19d.png)

[2020-06-11 15:13] cirincb commented on #156
![default_icon_issue](https://user-images.githubusercontent.com/59952859/84404201-2c48f380-ac24-11ea-9569-f4eb764b0b11.png)

[2020-06-11 15:15] keshrath commented on #156
Could you please describe the problem, I'm not following you.

[2020-06-12 07:34] cirincb commented on #156
In enterprise version, If there is no web_icon for a specified module, then it will take a default web_icon ie, see the first image:
1.
![enterprise](https://user-images.githubusercontent.com/59952859/84476378-a83a4e80-acab-11ea-81c0-b304eb7d857c.png)

The issue is when I install Muk Backend Theme if there is no web_icon for a module, then it looks like (image 2)
2.
![muk_theme](https://user-image

[2020-06-12 09:53] keshrath commented on #156
ah ok - so we could do a default one like the EE version

[2020-06-17 14:35] lin-ww opened #157 "Muk web refresh doesn't work in Odoo12"
Thanks for provide a such useful module. Unfortunately, it dosen't work in res.users or any other models in odoo12 after I install the muk_web_client_refresh, and its dependence. There's None error log while install.

 I really need support to make it works.

[2020-06-20 03:51] FedericoLaTorre opened #158 "side bar settings don't work"
Side bar settings are not working. I tried on different screens and it's the same. It's always small. Currently I'm trying on an imac 27" 5k and it's also small. So screen size is not an issue in this case.

[2020-06-21 12:51] Sameerawan opened #159 "Can't Preview .docx, xlsx, xls, doc Files"
Hello Muk,

I am having an issue with the doc, Xls files are opening in local or my server. It's working perfectly with odoo 11 but the issue is with odoo 12. I have tested on many systems and many different browsers. I have attached the screenshot as well. The same issue is with your demo link.
![Documents_MuK_ERP](https://user-images.githubusercontent.com/23479835/85225016-e08e0b00-b3d6-11ea-9ab

[2020-06-29 14:20] movahhed opened #160 "MuK Backend Theme Mobile"
Hello and respect
I'm using your free products for Odo version 12 and I'm going to buy muk backed theme
paid version, but before that I want to make sure it's right for me or not!
I need the notification web web feature for mobile and desktop users to receive messages and activities without logging in to the login site.
Does this module meet my needs?
Given that farebade in my country, Iran, is a

[2020-07-09 15:03] gacalixto opened #161 "muk_web_refresh not refreshing modules on Odoo v12"
I reinstalled the muk web refresh module recently on my Odoo 12 Community instance and it's not auto refreshing any of the modules.
I tested with the contacts, project and one of my custom modules.

[2020-07-09 16:50] PDMeira opened #162 "Search field in duplicate and application icons disappeared"
Hi,

After installing the theme we have got two search bars menus and a lot of application icons disappeared.
We are running a Docker deployment of Odoo.

Any idea how can we fix this?
Thanks

<img width="1571" alt="odoo-menu" src="https://user-images.githubusercontent.com/12361370/87067894-a6ad6900-c20c-11ea-96d7-472cff7028fe.png">

[2020-07-12 20:03] Emad-Fadlallah opened #163 "Does this theme fully support RTL ? also what about It's Extensions ? do they support also RTL ?"
Please try to make this theme and it's extensions fully support RTL including reports. Thanks in Advanced

[2020-07-15 06:50] omushpapa commented on #40
Should probably be

`DELETE FROM ir_ui_view WHERE key ILIKE '%web_editor.scss_%' AND mode='extension';`

[2020-07-24 17:53] movahhed commented on #163
Hi muk please do it

[2020-07-27 11:38] Kerrim- commented on #163
Hi,

as no one can write any rtl language in our team we can only support it as it is right now.

Pull requests are always welcome.

I attached a screenshot of how it looks.

![Screenshot from 2020-07-27 13-37-27](https://user-images.githubusercontent.com/2980463/88537700-5c025e00-d00e-11ea-912a-1762960676c7.png)

Regards Kerrim

[2020-07-27 11:38] #163 closed, assigned to nobody

[2020-08-03 14:01] #152 closed, assigned to nobody

[2020-08-03 14:02] #149 closed, assigned to nobody

[2020-08-03 14:02] #144 closed, assigned to nobody

[2020-08-25 08:23] hgarridoco commented on #162
Do you have any other module like web_responsive from OCA? I had same issue because I don't uninstalled web_responsive.

[2020-08-25 08:25] hgarridoco commented on #160
I purchased this module yesterday. If you have android phone, you can use push notifications. If you have iOS phone, you can't because iOS block it. In desktop works fine.

[2020-08-28 13:04] GoodERPJeff opened #164 "[13.0] muk_web_theme tree footer too dark"
![image](https://user-images.githubusercontent.com/1857069/91563616-c130d280-e971-11ea-9d4e-6f2a5ebbb911.png)

We know some tree use the footer show the summary, but the background is too dark to show the numbers here.

Please consider change it, thank you for your great effort.

[2020-08-28 13:16] GoodERPJeff opened #165 "Make your demo server auto login"
[code]

You can add this controller in a module and install in your demo database, then user can click "try-demo" and login automatically.

You know, Class name is not important, just change it as you like.

[2020-09-20 18:51] #132 closed, assigned to Kerrim-

[2020-09-25 14:03] #164 closed, assigned to keshrath

[2020-10-14 10:06] hilarak opened #167 "Datepicker in IOS is not working. MUK WEB Theme"
Hello,
Thanks for your great module. We are using your web theme in ODOO application. Everything works fine, except for the date picker.

Steps to reproduce the issue:

- Login to ODOO with apple ios mobile
- Open any form with date fields
- Select date picker
Datepicker is not coming properly and can't select a date.
@keshrath

[2020-10-14 23:27] nj-dream opened #168 "hello,a suggestion"
Hello, I installed this theme, it is great, thank you for your work.

If a small problem can be solved, this theme will be more perfect.

At present, in CRM's business opportunity management (pipeline), when accessing through a mobile phone, only the stage of the final win (Won) can be seen, and business opportunities in other stages cannot be seen.
If there is a way to see business opportunities

[2020-10-26 20:56] AhmedRHS opened #169 "Error when installing the app on Odoo 14.0"
Hello,

I'm getting the below error when trying to install the app on Odoo 14.0
Any suggestions?

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/odoo/odoo-server/odoo/http.py", line 682, in dispatch
    result = self._call_function(**self.params)
  File "/od

[2020-10-26 20:59] #169 closed, assigned to nobody

[2020-10-26 21:04] AhmedRHS commented on #169
@keshrath I understand that the version is not supported, but do you plan to provide support any time soon?

[2020-11-03 10:24] clxadmin opened #170 "Cannot read property 'height' of undefined"
Hello, I really like your work and this backend theme :-) Thank you.

I'm facing a issue with some installations on Odoo CE 13. Somethimes this error with undefined 'height' is coming up

TypeError: Cannot read property 'height' of undefined
    at Class.update (https://brockenstube.admin3.ch/web/content/580-e62b74a/web.assets_backend.js:4039:33)
    at Class._renderNode (https://brockenstube.admi

[2020-11-26 14:25] altanmur opened #171 "[13.0] muk_autovacuum module not found"
Hello,

muk_web_utils module dependencies muk_autovacuum. But muk_autovacuum haven't

[2020-11-26 14:29] altanmur commented on #171
I found in muk_base repository

[2020-11-26 14:29] #171 closed, assigned to nobody

[2020-12-16 14:28] danieledraganti opened #172 "[14.0] Icons not showing"
Hello,
I just installed your theme on a 14.0 Odoo Community (of course, I downloaded v14.0 for your theme as well).
After rebooting, everything works fine, except for the icons. Looks like the embedded `base64` is not valid. See attached image.
Thank you and great job on the theme!
![image](https://user-images.githubusercontent.com/1716741/102361271-57d1df80-3fb3-11eb-83fd-cbf15831a35c.png)

[2020-12-16 15:34] danieledraganti commented on #172
Please ignore this issue; I am quite new to Odoo and I discovered it was only a matter of regenerating the binary icons in the `ir.ui.view` models.

[2020-12-16 15:34] #172 closed, assigned to nobody

[2021-01-06 23:29] noorudheen opened #173 "Permanent dashboard"
We are trying to achieve the same effect of enterprise dashboard, however facing the below issues:

1. When you click on screen / the background image area, the dashboard gets disappeared, where as in enterprise edition, it stands still

2. The dashboard is not shown immediately after login, user have to click on the icon on top right most corner, to show the app dashboard.

Please let us know if

[2021-01-17 14:49] treviser opened #174 "[muk_web_theme 12.0.2.0.9]"
Hi all
First, I really want you to thank for this little gem. So far I have used the Openworx theme, but I like the design of your theme more.
This leads to my issue/observation:
On Odoo 12, after uninstalling the Openworx theme and installing your theme, I see the search menus bar twice, but only the lower one works. This does not happen on a virgin install for example on Odoo 14. How can I get r

[2021-01-22 06:54] Vegeta-D commented on #173
Because he didn't set var url = "/web#home";
it not stands still,So I hope it can be improved
@keshrath Can upgrade this one，thanks

[2021-01-22 08:31] noorudheen commented on #173
@Vegeta-D Can you please elaborate a little bit, how can we have a temporary fix for this, like setting the var url = , is it to be done in plugin files, or in the odoo config files or something,
Appreciate any kind of related info
Thank you.

[2021-02-03 21:23] noorudheen commented on #173
@Vegeta-D

[2021-02-04 10:21] Vegeta-D commented on #173
You can refer to the enterprise version of the web module JS file, which specifies a home page, / Web # home, and our module is / Web # CIDS = 1, and then a jump

[2021-02-07 20:41] dymitar opened #175 "small issue with superuser"
Odoo 13 community
There is a small issue with "Login as superuser"
TypeError: Cannot read property 'chatter_position' of undefined
probably some additional validation should be done if the user is superuser and take the default configuration.

[2021-02-16 10:11] togarhutabarat commented on #159
Hi, I'm having the same issue on v12 as well. Anything we can do to fix this?

[2021-02-23 17:04] cremain opened #176 "Error ERR_CONTENT_LENGTH_MISMATCH"
Hello Team

Often, i obtain this issue as bellow after credentials entering.
How can i resolve it?
Odoo version: 13 Community
![image](https://user-images.githubusercontent.com/47972090/108879405-2439b400-75f9-11eb-983c-4df7c60721d7.png)

[2021-03-02 14:18] FedericoLaTorre opened #177 "[13.0] sidebar stop responding"
Sidebar stop respondig sometimes and I need to refresh the page for it to work again.

[2021-03-04 00:37] mamfredym commented on #172
Hello, please how to regenerating de binary icons. Thanks

[2021-03-10 05:48] gotorishab opened #178 "Uncaught TypeError: Assignment to constant variable."
Uncaught TypeError: Assignment to constant variable.

I am getting this error, whenever I use the up and down arrow key in search

[2021-03-16 03:03] sound675 commented on #93
Hi Keshrath,

I am having identical problem,
![Double Line Search](https://user-images.githubusercontent.com/76610681/111249308-1a2a3480-863e-11eb-8ef4-2aee10cf10e1.JPG)

-- Do you have this behavior on our demo page as well?
No.
I have access your Demo: https://demo12.mukit.at/
And tried to reproduce this problem, but I am unable to do so.

--What browser and version is used?
I am using :
Browser

[2021-03-16 05:05] sound675 commented on #93
Hi,
I believe i have found the source of the problem.
@andressarmientosaad please check whether you have installed the following addons.
If yes, you need to uninstall it. It works for me

Thanks!

![image](https://user-images.githubusercontent.com/76610681/111258594-e0622980-864f-11eb-963d-d4b8b44f37a8.png)

[2021-03-31 23:48] TGADMIN00 opened #179 "Vulnerability detected CWE ID 117 in version 11.0.2.0.17 muk_web_utils"
En la ruta: muk_web_utils/static/lib/ViewerJS/index.html 65
Nombre de la vulnerabilidad: Improper Output Neutralization for Logs
Modo de detección: Se realizó un escaneo estático, el cuál detecto la línea mencionada como vulnerabilidad según los estándares de seguridad

[2021-03-31 23:57] TGADMIN00 opened #180 "Vulnerability detected CWE ID 327 in version (11.0.1.3.5 muk_dms) (11.0.2.0.0 muk_dms_file) (11.0.1.1.0 muk_security)"
En las rutas:
    * muk_dms/models/dms_base.py lines 105, 205
    * muk_dms_file/models/dms_data_system.py lines 192, 196
    * muk_security/models/locking.py lines 65, 85
Nombre de la vulnerabilidad: Use of a Broken or Risky Cryptographic Algorithm
Modo de detección: Se realizó un escaneo estático, el cuál detecto la línea mencionada como vulnerabilidad según los estándares de seguridad

[2021-04-01 00:07] TGADMIN00 opened #181 "Vulnerability detected CWE ID 601 in version 11.0.2.0.17 muk_web_utils"
En la ruta: muk_web_utils/static/lib/PDFjs/web/viewer.js 6007
Nombre de la vulnerabilidad: URL Redirection to Untrusted Site ('Open Redirect')
Modo de detección: Se realizó un escaneo estático, el cuál detecto la línea mencionada como vulnerabilidad según los estándares de seguridad

[2021-05-17 05:20] saeed-raeisi opened #182 "menu size"
Hello
I installed version 14 of the muk theme on odoo 14 but in the backend theme setting I can not change the menu size.

I tried small large invisible, normal aside sizes but no changes were made to the theme after saving.

Thank you for guiding me.

[2021-05-24 10:28] sluggogle opened #184 "[14.0] Migrate muk_web_client_refresh"
Hi !
Would love to see muk_web_client_refresh migrated to v14.0 as I use it in a 12.0 database that i would like to upgrade.
If not on your schedule, how can I achieved a similar behavior ?

[2021-06-22 05:01] ossimantylahti opened #185 "Column header text colour impossible to read"
It seems that Muk backend theme has by default columns header text colour that is almost impossible to read. There does not seem to any way of adjusting column header background colour?

![image](https://user-images.githubusercontent.com/37711285/122865741-78754c00-d2ec-11eb-913f-4b9b1476e807.png)

Using Odoo 13 CE.

[2021-06-22 16:57] alejoso76 opened #186 "Migrate to Odoo13"
Hey guys, I was wondering if there are plans to migrate the web refresh to odoo 13? :)

[2021-07-26 14:23] codemobiles commented on #172
I also face this issue. Have you found the solution yet? Could you share it?

Thanks

[2021-08-22 17:34] eddiego2017 commented on #172
@mamfredym  @codemobiles  I guess he is referring to [this link](https://www.odoo.com/zh_TW/forum/bang-zhu-1/how-to-make-odoo-enterprise-regenerate-web-icon-data-for-all-menuitems-without-upgrading-all-modules-180521), but it doesn't work for me though.

My solution is .... to update modules one by one, and those missing icons will show.

[2021-08-24 15:14] #123 closed, assigned to keshrath

[2021-09-15 20:56] Canario0 opened #187 "Error while clicking arrow in the app search bar."
While trying to navigate with the arrows in the search bar of this theme, the following error triggers:
![muk_issue](https://user-images.githubusercontent.com/18551747/133507827-7a908d38-a29a-4902-bbaa-7f0dbbf50e2d.png)

I think is has somithing to do with the following assigment:
https://github.com/muk-it/muk_web/blob/05ccc049451dc933b5410fb4afbeb4c46cd05322/muk_web_theme/static/src/js/core/searc

[2021-09-21 17:17] TGADMIN00 opened #188 "Vulnerabilidad Improper Output Neutralization for Logs"
Vulnerabilidad presentada en
muk_web_utils/static/lib/ViewerJS/index.html línea 65
Improper Output Neutralization for Logs

[2021-09-21 18:10] TGADMIN00 opened #189 "Vulnerabilidad Cross-Site Scripting (XSS)"
Vulnerabilidad encontrada en:
muk_web_utils/static/lib/highlight_line_numbers/highlight_line_numbers.js línea 34
muk_web_utils/static/lib/ViewerJS/index.html línea 38
muk_web_utils/static/lib/ViewerJS/index.html línea 56
muk_web_utils/static/lib/PDFjs/viewer.js línea 588
muk_web_utils/static/lib/PDFjs/viewer.js línea 5970
muk_web_utils/static/src/js/preview_handler.js

[2021-10-18 13:52] marylla commented on #159
Hi there, we also have this issue.
@keshrath Can you fix it?

[2021-10-18 13:54] keshrath commented on #159
The file needs to be accessible by the microsoft viewer. Check your network logs.

[2021-10-18 14:19] Sameerawan commented on #159
@keshrath  I have attached the screenshot from your demo https://demo12.mukit.at/.
Even it's not working on your demo version 12. This is the file you have upload on your demo version.
![Documents-MuK-ERP](https://user-images.githubusercontent.com/23479835/137749258-4aa4c943-79f4-4b1e-b7cc-f2aea2c51df7.png)

[2021-10-22 01:10] ossimantylahti opened #190 "Error when opening a session about chatter_position"
It seems that Mukit Odoo background theme has an error regarding chatter_position. When logging in to the system with only Mukit background theme extension installed, there is a brief error message popping up:

![image](https://user-images.githubusercontent.com/37711285/138377163-dddfe654-5c87-4662-a832-aaf010159cd8.png)

The error is following:
[code]

The error stays on the screen for a fraction

[2021-11-04 16:37] h3llopy opened #191 "No Quantity and Price on Purchase Order Lines"
I notice that there is no qty and price info on purchase order tested on V12 CE

![image](https://user-images.githubusercontent.com/63976042/140380820-37a1fd63-3d5b-427f-88c4-b6dbbdf79a3d.png)

[2021-11-15 17:59] OpencloudPro opened #192 "Change background and theme colors per company"
Hi,

great app but it does not let me have a diferent background or menu color betweeen companies.

Can you please check?

I am using odoo v14.

Thanks.

[2021-11-22 13:36] 601939654 opened #193 "Chatter Position and Sidebar Type setting has no effect"
After many tests, changing the value of the field has no effect

[2021-12-09 05:06] phuctranfxvn commented on #146
I have the same problem. Anyone has a fix for this so far? Thanks

[2021-12-12 13:57] HiKoFsystem opened #194 "dose any one can install module and them on ubuntu (do on Mac) ? could you share video ."
I am new , I just can not use my Mac to process install module (accounting) and them on ubuntu, I use Mac , I check YouTube only window , Thank

[2021-12-20 11:56] mkrnac opened #195 "[15.0] Menu not showing on small screens"
After installation of this module on freshly installed odoo v15, there is an issue with not showing menus once screen is resized, or opened on phone's browser.

Full size:
![image](https://user-images.githubusercontent.com/8441310/146763457-e24a2b49-e96b-475a-894a-4e13770f51eb.png)

After resized to small width:
![image](https://user-images.githubusercontent.com/8441310/146763540-c0e6935f-08a1-44f

[2021-12-21 03:23] phuctranfxvn commented on #146
@boris005-crc

I dont have an official fix for this issue, but a workaround fix can solve this problem is as following, i.e adding

`$(".o_menu_apps .dropdown .dropdown-menu.show").removeClass("show");` by the end of the function `_hideMenusByAction`

![Screen Shot 2021-12-21 at 10 20 59](https://user-images.githubusercontent.com/28592212/146865541-a4eb3638-0942-47d2-a07e-0288cf6140db.png)

[2021-12-21 10:46] boris005-crc commented on #146
Hello @phuctranerp
Thank you for you answer, but I don't know where to add the code?
Can you tell me where to add it?
Thank you!

[2021-12-24 07:44] phuctranfxvn commented on #146
@boris005-crc  you can add it after this line https://github.com/muk-it/muk_web/blob/12.0/muk_web_theme/static/src/js/chrome/actions.js#L41

[2021-12-28 04:12] hussain commented on #195
Mobile view do **not** have the menu at all. We are facing same issue.

[2021-12-29 16:45] hussain opened #196 "[15.0] No Search bar in Apps list"
I am not seeing the searchbar in apps list, not sure if it is removed in v15 or I'm missing something.

OS: Ubuntu 20.04
Odoo: 15.0 CE

![image](https://user-images.githubusercontent.com/31601080/147684946-4ef99517-b0c8-470b-a455-19ef60679288.png)

[2021-12-30 08:44] 383Sport commented on #184
Yeah, I have the same question! Really appreciated if this module is migrated to v14

[2021-12-30 08:49] letsgochase commented on #184
Any update about this quetion? I really need this module migrated to v14.

[2022-01-04 19:49] keshrath commented on #196
That is correct as I think its no longer need. You have the same function already in the new Odoo dialog (CTRL+K).

[2022-01-04 19:49] #196 closed, assigned to nobody

[2022-01-04 19:50] keshrath commented on #195
This is not a mistake, but the intended behavior. The screen is too small to display the sidebar.

[2022-01-04 19:50] #195 closed, assigned to nobody

[2022-01-05 02:58] hussain commented on #195
@keshrath indeed sidebar should not be display at small screen.
We are talking about the menu on top. i.e. if Sale app is selected, there is no way for the user to navigate to customers, products... etc.
There used to be a button to show sub-menu to allow user to navigate.

[2022-01-05 08:34] keshrath commented on #195
![image](https://user-images.githubusercontent.com/4851083/148186015-9d257867-e28f-4035-869e-82dad7bb79f9.png)

[2022-01-05 08:34] keshrath commented on #195
I will take a look

[2022-01-07 04:16] hussain commented on #195
@keshrath the screenshot you posted has the missing item already!

if you compare the screenshot in posted issue with your screenshot, too right menu is missing in our case.

![image](https://user-images.githubusercontent.com/31601080/148672686-a7f413ef-faec-41c1-aa59-7276ad426071.png)

anything to be checked from our side to help?

[2022-01-07 04:17] hussain commented on #196
Thanks @keshrath

[2022-01-15 15:03] keshrath commented on #196
https://github.com/muk-it/muk_web/commit/04ade6eaff0f6f45474434e0735fed6e42123cd7

[2022-01-16 15:24] hussain commented on #195
04ade6eaff0f6f45474434e0735fed6e42123cd7 fixes #195

Tested on Odoo CE 15.0-20211228

Thanks @keshrath

[2022-01-18 11:05] AyoubZahid commented on #193
This is a user specific settings, try to set it from the user profile instead

[2022-01-21 21:08] litmount commented on #178
I am getting the same also. Really annoying.

[2022-02-02 15:14] nguyenductamlhp commented on #190
@ossimantylahti I met this issue in case of OdooBot user. The reason is OdooBot is archived that it can not read data of this user

[2022-02-02 16:38] ossimantylahti commented on #190
Ok... so how to fix it? Any ideas?

[2022-02-03 02:39] nguyenductamlhp commented on #190
My idea is editing on *muk_web_theme* > file `action.js`: add domain to filter both active and inactive user:

[code]
Replace `['id', '=', session.uid]` by `['id', '=', session.uid], '|', ['active', '=', True], ['active', '=', False]`

[2022-02-16 17:28] h3llopy commented on #191
any updates on this

[2022-02-16 18:17] keshrath commented on #191
This has nothing todo with the theme. You would need to change the kanban view of the view.

[2022-02-16 18:17] #191 closed, assigned to nobody

[2022-06-22 02:06] sunghangga opened #198 "Showing up search bar on odoo 15"
![image](https://user-images.githubusercontent.com/29428699/174927817-1e0e053b-4b5e-4fe0-b9fe-7feb1a10f9cc.png)

Hi all, I would to ask about search bar. How to showing up search bar on odoo 15 community edition? may be I can use hot key for quick search, but how if I open from mobile? Thank you

[2022-08-10 01:28] bennals opened #199 "Only administrator can see/hear web_preview_audio visualiser in 11.0"
This is a corner case issue for an older version of Odoo so I understand if it can't be addressed.

In 11.0, in a custom module I have a field defined as follows:

music_mp3 = fields.Many2many('ir.attachment', string='Optional: Music file (max size 25MB)',
                              help='Optionally upload a .wav, .mp3 or ,ogg file of the track you want played - $

[2022-09-12 10:53] paragasu opened #201 "Not loading properly in google chrome on windows"
![WhatsApp Image 2022-09-12 at 6 23 58 PM](https://user-images.githubusercontent.com/27353/189635689-9b4eabbf-ece9-4217-8f50-f51c74420948.jpeg)

environment - odoo14

- Tested work fine on firefox both mac & windows except for `time off` module
-  Google chrome on window not loading only the menu changed

[2022-11-07 08:29] hareshkansara opened #202 "Need muk_web_theme module for V16"
Hello All,

Let me know if anyone has created PR or ready V16 copy for this module: muk_web_theme

THanks

[2022-11-14 04:28] juazisco commented on #202
Hi,  I maked a fork and  updated to v16.0 , test it please

https://github.com/juazisco/muk_web

[2022-11-14 15:13] arkhan commented on #202
Hello, great work.

I made little changes to Visual improvements

![image](https://user-images.githubusercontent.com/3141865/201695119-542f05c8-f763-4bd0-965d-b9b4496281e3.png)

[muk_web_theme.zip](https://github.com/muk-it/muk_web/files/10004282/muk_web_theme.zip)

This is a good starting point

[2022-11-18 20:04] arkhan commented on #202
@juazisco any update..?